/*-------------------------------------------------------------------------------------------*/
/* OptionsFramework Admin Styles
/*-------------------------------------------------------------------------------------------*/

.updated{max-width:764px;margin-bottom:0!important;}
#optionsframework{position:relative;z-index:0;max-width:780px;background:#fff;}
#optionsframework p{margin-bottom:0;padding-bottom:10px;}
#optionsframework .postbox h3 {cursor:inherit;}
#optionsframework .section{border-bottom:1px solid #dfdfdf;padding:15px;}
#optionsframework .section-description{border-bottom:1px solid #dfdfdf;color:#888888;font-family:Georgia,"Times New Roman",Times,serif;font-size:12px;font-style:italic;line-height:1.5em;padding:15px;}
#optionsframework .group .section:last-of-type{padding-bottom:40px;}
#optionsframework .section .heading{font-size:1.1em;margin:0 0 15px 3px;padding:10px 5px;}
#optionsframework .section-info{border:none;padding-bottom:0;}
#optionsframework .section-info .heading{font-size:18px;border-bottom:none;margin:0;padding:5px;}
#optionsframework .section-info p{margin:5px 0 0;padding:0 5px;}
#optionsframework .section .controls{float:left;min-width:350px;width:54%;padding-right:2%;}
#optionsframework .section .explain{max-width:38%;float:left;font-size:12px;line-height:16px;color:#777;}
#optionsframework .section-description .controls {display:none;}
#optionsframework .section-description .explain {max-width:inherit;width:100%;}
#optionsframework .section-checkbox .controls{min-width:25px;width:25px;}
#optionsframework .section-checkbox .explain{max-width:93%;}
#optionsframework .section-color .controls{min-width:125px;}
#optionsframework .controls input, #optionsframework .controls textarea{-webkit-box-shadow: 0 0 4px #eeeeee; box-shadow: 0 0 4px #eeeeee; margin-bottom:10px; outline:0; width:100%;}
#optionsframework .controls input[type=text] { color: #666666; }
#optionsframework .controls select { width: 100%; }
#optionsframework .controls textarea { line-height:150%; }
#optionsframework .section-radio label,#optionsframework .section-multicheck label{float:left;line-height:15px; display:block;}
#optionsframework input.checkbox,#optionsframework input.of-radio{width:25px;float:left;clear:both;vertical-align:middle;}
#optionsframework .controls .of-color{float:left;width:80px;margin-left:5px;margin-right:5px;}
#optionsframework .controls .of-typography-size{width:80px;margin-left:5px;float:left;}
#optionsframework .controls .of-typography-unit{width:50px;margin-left:5px;float:left;}
#optionsframework .controls .of-typography-face{width:100px;margin-left:5px;float:left;}
#optionsframework .controls .of-typography-style{width:80px;margin-left:5px;margin-right:5px;float:left;}
#optionsframework .of-background-properties{clear:both;margin-top:18px;}
#optionsframework div.section-background .controls input.upload{width:47%;}
#optionsframework .controls .of-radio-img-img{border:3px solid #f9f9f9;display:none;cursor:pointer;float:left;margin:0 5px 10px 0;}
#optionsframework .controls .of-radio-img-selected{border:3px solid #ccc;}
#optionsframework .controls .of-radio-img-img:hover{opacity:.8;}
#optionsframework .controls .of-border-width{width:80px;float:left;}
#optionsframework .controls .of-border-style{width:120px;float:left;}
#optionsframework .hide{display:none;}
#optionsframework .of-option-image{max-width:340px;margin:3px 0 18px;}
#optionsframework .mini .controls select,#optionsframework .section .mini .controls{width:140px;}
#optionsframework .mini .controls input,#optionsframework .mini .controls{min-width:140px;width:140px;}
#optionsframework .mini .explain{max-width:74%;}
#optionsframework .controls .of-background-repeat,#optionsframework .controls .of-background-position,#optionsframework .controls .of-background-attachment{width:125px;margin-right:5px;float:left;}
#optionsframework .tb-footer-text {background-color:#f8f8f8;border:1px solid #f2f2f2;border-top:none;color:#999999;font-style:italic;padding:10px;}
#optionsframework .tb-footer-text .tb-update-log {text-decoration:none;}

/* Image Uploader */
#optionsframework .controls input.upload{width:74%;}
#optionsframework .controls input.upload_button{float:right;width:64px;cursor:pointer;border-color:#BBBBBB;}
#optionsframework .controls input.upload_button:hover{color:#000;border-color:#666666;}
#optionsframework .section-upload .section-upload.image-standard input.image-url {width:58%;}
#optionsframework .section-upload .section-upload.image-standard input.image-width {width:15%;}
#optionsframework .screenshot{float:left;margin-left:1px;position:relative;width:344px;margin-top:3px;}
#optionsframework .screenshot img{background:#FAFAFA;float:left;max-width:334px;margin-bottom:10px;border-color:#ccc #eee #eee #ccc;border-style:solid;border-width:1px;padding:4px;}
#optionsframework .screenshot .mlu_remove{background:url(../../assets/images/icon-remove.png) no-repeat;border:medium none;bottom:4px;display:block;float:left;height:16px;position:absolute;left:-4px;text-indent:-9999px;width:16px;padding:0;}
#optionsframework .screenshot .no_image .file_link{margin-left:20px;}
#optionsframework .screenshot .no_image .mlu_remove{bottom:0;}
#optionsframework .reset-button{margin-right:10px;float:left;cursor:pointer;}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5), 
		only screen and (-moz-min-device-pixel-ratio: 1.5), 
		only screen and (-o-min-device-pixel-ratio: 1.5), 
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	#optionsframework .screenshot .mlu_remove{background-image:url(../../assets/images/icon-remove_2x.png);background-size:16px 16px;}
}

/* Bottom Section */
#optionsframework-submit{border-top:1px solid #ECECEC;background-color:#F1F1F1;background-image:0;padding:7px 10px;}
#optionsframework .button-primary{float:right;}

/* Google Font (addon to typography) */
#optionsframework .google-font{background:#ffffff;border:1px solid #dddddd;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;padding:10px;}
#optionsframework .google-font .wrap{margin:0;}
#optionsframework .google-font h5{margin:4px;}

/* Fancy Selects */
#optionsframework .tb-fancy-select { background: url(../../assets/images/fancy-select_2x.png) repeat-x; background-size: 7px 32px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow: 0 0 4px #eeeeee; -webkit-box-shadow: 0 0 4px #eeeeee; box-shadow: 0 0 4px #eeeeee; margin-bottom: 10px; position: relative; }
#optionsframework .tb-fancy-select select { margin-bottom: 0; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; position: relative; height: 33px; z-index: 2; }
#optionsframework .tb-fancy-select .textbox { border: 1px solid #dfdfdf; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; color: #666666; display: block; line-height: 33px; padding: 0 10px; position: absolute; top: 0;right: 0; bottom: 0; left: 0; z-index: 1; }
#optionsframework .tb-fancy-select .trigger { background: url(../../assets/images/fancy-select-trigger_2x.png) no-repeat; background-size: 25px 33px; border-left: 1px solid #dfdfdf; position: absolute; top: 0; right: 0; width: 25px; height: 33px; }