/* =OptionsFramework Admin Styles
-----------------------------------------------*/

.themeblvd-updated,
.themeblvd-error {
	margin-bottom: 0 !important;
	width: 752px;
}
#optionsframework {
	position: relative;
	z-index: 0;
	max-width: 780px;
	background: transparent;
}
#optionsframework p {
	margin-bottom: 0;
	padding-bottom: 10px;
}
#optionsframework .postbox h3 {
	cursor: inherit;
}
#optionsframework .section {
	border-bottom: 1px solid #eeeeee;
	padding: 15px;
}
#optionsframework .section-description {
	border-bottom: 1px solid #eeeeee;
	color: #888888;
	font-family: inherit;
	font-size: inherit;
	font-style: italic;
	line-height: 1.5em;
	padding: 15px;
}
#optionsframework .section .heading {
	font-size: 1.1em;
	margin: 10px 2px;
	padding: 0;
}
#optionsframework .section-info {
	color: #888888;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 12px;
	font-style: italic;
	line-height: 1.5em;
	padding: 15px;
}
#optionsframework .section-info p {
	margin: 5px 0 0;
	padding: 0 5px;
}
#optionsframework .section .controls {
	float: left;
	min-width: 350px;
	width: 54%;
	padding-right: 2%;
}
#optionsframework .section .explain {
	color: #666666;
	float: left;
	font-size: inherit;
	line-height: 18px;
	max-width: 38%;
}
#optionsframework .section .explain p {
	margin: 0;
	padding-bottom: 10px;
}
#optionsframework .section .explain p:last-of-type {
	padding-bottom: 0;
}
#optionsframework .section-description .controls {
	display: none;
}
#optionsframework .section-description .explain {
	max-width: inherit;
	width: 100%;
}
#optionsframework .section-checkbox .controls {
	min-width: 25px;
	padding-right: 0;
	width: 25px;
}
#optionsframework .section-checkbox .explain {
	max-width: 93%;
}
#optionsframework .section-color .controls {
	min-width: 125px;
}
#optionsframework .controls input[type="text"],
#optionsframework .controls textarea {
	-webkit-box-shadow: 0 0 4px #eeeeee;
	box-shadow: 0 0 4px #eeeeee;
	margin-bottom: 10px;
	outline: 0;
	width: 100%;
}
#optionsframework .controls select {
	width: 100%;
}
#optionsframework .controls textarea {
	line-height: 150%;
}
#optionsframework .radio-input {
	margin: 3.5px 0 7px 0;
	padding: 0;
}
#optionsframework .section-radio label,
#optionsframework .section-multicheck label {
	float: left;
	font-size: 14px;
	line-height: 1.2em;
	display: block;
	max-width: 330px;
}
#optionsframework input.checkbox,
#optionsframework input.of-radio {
	float: left;
	clear: both;
	margin-top: 0;
	vertical-align: middle;
	width: auto;
}
#optionsframework .section-multicheck label,
#optionsframework .section-multicheck input.checkbox {
	margin-top: 4px;
}
#optionsframework .controls .of-color {
	float: left;
	width: 80px !important;
	margin-left: 5px;
	margin-right: 5px;
}
#optionsframework .of-background-properties {
	clear: both;
	margin-top: 18px;
}
#optionsframework div.section-background .controls input.upload {
	width: 47%;
}
#optionsframework .controls .of-radio-img-img {
	border: 3px solid #f9f9f9;
	cursor: pointer;
	display: none;
	float: left;
	margin: 0 5px 10px 0;
}
#optionsframework .controls .of-radio-img-selected {
	border: 3px solid #ccc;
}
#optionsframework .controls .of-radio-img-img: hover {
	opacity: .8;
}
#optionsframework .controls .of-border-width {
	width: 80px;
	float: left;
}
#optionsframework .controls .of-border-style {
	width: 120px;
	float: left;
}
#optionsframework .hide {
	display: none;
}
#optionsframework .of-option-image {
	max-width: 340px;
	margin: 3px 0 18px;
}
#optionsframework .mini .controls select,
#optionsframework .section .mini .controls {
	width: 140px;
}
#optionsframework .mini .controls input,
#optionsframework .mini .controls {
	min-width: 140px;
	width: 140px;
}
#optionsframework .mini .explain {
	max-width: 74%;
}
#optionsframework .controls .of-background-repeat,
#optionsframework .controls .of-background-position,
#optionsframework .controls .of-background-attachment {
	width: 125px;
	margin-right: 5px;
	float: left;
}
#optionsframework .tb-footer-text {
	background-color: #f8f8f8;
	border: 1px solid #dedede;
	border-top: none;
	color: #999999;
	font-style: italic;
	padding: 10px;
}
#optionsframework .tb-footer-text i {
	font-size: 15px;
}
#optionsframework .tb-footer-text .tb-update-log {
	text-decoration: none;
}
#optionsframework .note code,
#optionsframework .widefat code {
	padding: 0;
}
#optionsframework .column-content-type-raw input.checkbox {
	margin-top: -1px;
}

/* Image Uploader */
#optionsframework .controls input.upload {
	width: 79%;
}
#optionsframework .controls input.upload-button,
#optionsframework .controls input.remove-file  {
	border-color: #BBBBBB;
	float: right;
	width: auto;
}
#optionsframework .controls input.upload-button: hover,
#optionsframework .controls input.remove-file: hover  {
	border-color: #666666;
	color: #000;
}
#optionsframework .section-upload .section-upload.image-standard input.image-url  {
	width: 58%;
}
#optionsframework .section-upload .section-upload.image-standard input.image-width  {
	width: 15%;
}
#optionsframework .screenshot {
	float: left;
	margin-left: 1px;
	position: relative;
	width: 344px;
	margin-top: 3px;
}
#optionsframework .screenshot img {
	background: #FAFAFA;
	float: left;
	max-width: 334px;
	margin-bottom: 10px;
	border-color: #ccc #eee #eee #ccc;
	border-style: solid;
	border-width: 1px;
	padding: 4px;
}
#optionsframework .screenshot .remove-image {
	background-image: none;
	border: medium none;
	color: #d54e21;
	cursor: pointer;
	display: block;
	float: left;
	padding: 0;
	position: absolute;
	left: -10px;
	bottom: 3px;
	text-indent: 0;
	width: 24px;
	height: 24px;
}
#optionsframework .screenshot .remove-image:hover {
	color: #ff4000;
}
#optionsframework .screenshot .remove-image:before {
	/* content: '\f153'; */
	content: '\f158';
	font-family: 'dashicons';
	font-size: 24px;
	line-height: 1em;
}
#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#optionsframework .screenshot .no_image .remove-image {
	bottom: 0;
}
#optionsframework .reset-button {
	margin-right: 10px;
	float: left;
	cursor: pointer;
}

/* Image Uploader (legacy) */
#optionsframework .controls input.upload_button{float:right;width:64px;cursor:pointer;border-color:#BBBBBB;}
#optionsframework .controls input.upload_button:hover{color:#000;border-color:#666666;}
#optionsframework .screenshot .mlu_remove{background:url(../../assets/images/icon-remove.png) no-repeat;border:medium none;bottom:4px;display:block;float:left;height:16px;position:absolute;left:-4px;text-indent:-9999px;width:16px;padding:0;}
#optionsframework .screenshot .no_image .mlu_remove{bottom:0;}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	#optionsframework .screenshot .mlu_remove{
		background-image:url(../../assets/images/icon-remove_2x.png);
		background-size:16px 16px;
	}
}

/* Modal Window */
.tb-modal-hide-settings .attachment-details label.setting {
	display: none;
}
.tb-modal-advanced-image .media-sidebar .attachment-details .setting[data-setting="caption"],
.tb-modal-advanced-image .media-sidebar .attachment-details .setting[data-setting="alt"],
.tb-modal-advanced-image .media-sidebar .attachment-details .setting[data-setting="description"],
.tb-modal-advanced-image .media-sidebar .attachment-display-settings h3,
.tb-modal-advanced-image .media-sidebar .attachment-display-settings .setting {
	display: none;
}
.tb-modal-advanced-image .media-sidebar .attachment-display-settings label.setting:last-child {
	display: block;
}
.tb-modal-advanced-image .media-sidebar .setting span {
	max-width: 12%;
	min-width: 0;
	text-align: left;
}
.tb-modal-advanced-image .media-sidebar .setting input,
.tb-modal-advanced-image .media-sidebar .setting select {
	float: left;
	max-width: 100%;
	width: 80%;
}

/* WP Editor */
#optionsframework .section-editor .controls {
	float: none;
	max-width: none;
	padding: 0;
	width: auto;
}
#optionsframework .section-editor .explain {
	float: none;
	padding: 0 5px;
	width: auto;
}
#optionsframework .section-editor .desc-after.has-desc .explain {
	padding-top: 10px;
}
#optionsframework .section-editor .wp-editor-container{
	background-color: #ffffff;
}
#optionsframework .section-editor .quicktags-toolbar input {
	width: auto;
}
#optionsframework .section-editor .controls textarea {
	margin: 0;
}
#optionsframework .section-editor .height-small .wp_themeSkin iframe {
	height: 150px !important;
}
#optionsframework .section-editor .height-medium .wp_themeSkin iframe {
	height: 250px !important;
}
#optionsframework .section-editor .height-large .wp_themeSkin iframe {
	height: 340px !important;
}
#optionsframework .section-editor .height-small textarea {
	height: 150px;
}
#optionsframework .section-editor .height-medium textarea {
	height: 250px;
}
#optionsframework .section-editor .height-large textarea {
	height: 340px;
}

/* WP Editor / Code Editor Modals */
#optionsframework .section-textarea .textarea-wrap.with-editor-nav,
#optionsframework .section-content .textarea-wrap.with-editor-nav {
	margin-bottom: 10px;
	padding-bottom: 25px;
	position: relative;
}
#optionsframework .section-textarea .textarea-wrap.with-editor-nav textarea,
#optionsframework .section-content .textarea-wrap.with-editor-nav textarea {
	margin: 0;
	vertical-align: top;
}
#optionsframework .section-textarea .editor-nav,
#optionsframework .section-content .editor-nav {
	background: #f9f9f9;
	border: 1px solid #dddddd;
	border-top: none;
	-webkit-box-shadow: 0 0 4px #eeeeee, 0 2px 2px #eee inset;
	box-shadow: 0 0 4px #eeeeee, 0 2px 2px #eee inset;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}
#optionsframework .section-textarea .editor-nav a,
#optionsframework .section-content .editor-nav a {
	color: #666666;
	font-size: 16px;
	float: right;
	height: 24px;
	line-height: 24px;
	margin-left: 2px;
}
#optionsframework .section-textarea .editor-nav a:hover,
#optionsframework .section-content .editor-nav a:hover {
	color: #000000;
}

/* Icon Browser */
#optionsframework .section-text .input-wrap {
	position: relative;
}
#optionsframework .section-text .tb-input-icon-link {
	color: #666666;
	position: absolute;
	top: 6px;
	right: 4px;
}
#optionsframework .section-text .tb-input-icon-link:hover {
	color: #000000;
}

/* Bottom Section */
#optionsframework-submit {
	border-top: none;
	background-color: transparent;
	background-image: none;
	padding: 7px 10px;
}
#optionsframework-submit.options-page-footer {
	background: #ffffff;
	border: 1px solid #dedede;
}
#optionsframework .button-primary {
	float: right;
}

/* Google Font (addon to typography) */
#optionsframework .google-font {
	background: #ffffff;
	border: 1px solid #dddddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
}
#optionsframework .google-font .wrap {
	margin: 0;
}
#optionsframework .google-font h5 {
	font-size: 12px;
	margin: 4px 4px 10px 4px;
}
#optionsframework .google-font input {
	margin-bottom: 5px;
}
#optionsframework .google-font .note {
	margin: 0;
}

/* Fancy Selects */
#optionsframework .tb-fancy-select {
	background: #ffffff;
	background-size: 7px 32px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 rgba(0, 0, 0, .08);
	box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 rgba(0, 0, 0, .08);
	margin-bottom: 10px;
	position: relative;
	height: 33px;
}
#optionsframework .tb-fancy-select select  {
	margin: 0;
	padding: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	position: relative;
	height: 33px;
	z-index: 3;
}
#optionsframework .tb-fancy-select .textbox  {
	border: 1px solid #dfdfdf;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #666666;
	display: block;
	line-height: 33px;
	overflow: hidden;
	padding: 0 10px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
#optionsframework .tb-fancy-select .trigger  {
	background: url(../../assets/images/fancy-select-trigger_2x.png) no-repeat;
	background-size: 25px 33px;
	border-left: 1px solid #dfdfdf;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 25px;
	height: 31px; /* .textbox's height -2px so it's border displays */
	z-index: 2;
}

/* Condensed Fancy Select */
#optionsframework .tb-fancy-select.condensed {
	height: 26px;
}
#optionsframework .tb-fancy-select.condensed select {
	height: 26px;
}
#optionsframework .tb-fancy-select.condensed .trigger {
	background-position: 0 -3px;
	height: 25px;
}
#optionsframework .tb-fancy-select.condensed .textbox {
	font-size: 12px;
	height: 26px;
	line-height: 26px;
}

/* Simple Fancy Select */
#optionsframework .tb-fancy-select.simple {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: 26px;
}
#optionsframework .tb-fancy-select.simple select {
	height: 26px;
}
#optionsframework .tb-fancy-select.simple .trigger {
	background-position: 0 -4px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	height: 25px;
}
#optionsframework .tb-fancy-select.simple .textbox {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
}

/* Elements */
#optionsframework .accordion .element .element-trigger {
	background: #ffffff;
	text-shadow: none;
}
#optionsframework .accordion .element .element-trigger.active,
#optionsframework .accordion .element .element-trigger:hover {
	background: #f2f2f2;
}

/* Tables */
#optionsframework .widefat tr:nth-child(odd) {
	background: #f9f9f9;
}

/* WP Color Picker */
#optionsframework .controls input[type="text"].tb-color-picker {
	margin-bottom: 0;
	width: 65px;
}

/* Inline code editor */
#optionsframework .section-code .controls {
	float: none;
	min-width: 0;
	margin-bottom: 10px;
	padding: 0;
	width: auto;
}
#optionsframework .section-code .explain {
	float: none;
	max-width: none;
}
#optionsframework .CodeMirror.cm-s-themeblvd {
	border: 1px solid #dddddd;
}

/* jQuery UI slider */
#optionsframework .jquery-ui-slider-wrap {
	padding: 20px 12px 0 0;
}
#optionsframework .jquery-ui-slider {
	border: 1px solid #ddd;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.08);
	box-shadow: 0 1px 0 rgba(0,0,0,.08);
	height: 7px;
	margin: 10px 4px;
	position: relative;
}
#optionsframework .jquery-ui-slider .ui-slider-handle {
	border: 1px solid #cccccc;
	background: #f2f2f2;
	-webkit-border-radius: 99px;
	border-radius: 99px;
	-webkit-box-shadow: 1px 1px 2px #d8d8d8;
	box-shadow: 1px 1px 2px #d8d8d8;
	cursor: default;
	display: block;
	margin-left: -8px;
	outline: none;
	position: absolute;
	top: -5px;
	width: 16px;
	height: 16px;
}
#optionsframework .jquery-ui-slider .display-value {
	background: #f8f8f8;
	-webkit-box-shadow: 1px 1px 2px #d8d8d8;
	border: 1px solid #dddddd;
	box-shadow: 1px 1px 2px #d8d8d8;
	display: block;
	line-height: 1;
	padding: 5px;
	position: absolute;
	top: -32px;
	left: 50%;
	width: 40px;
	text-align: center;
}
#optionsframework .jquery-ui-slider .display-value-text {
	color: #999999;
	display: block;
	font-size: 13px;
}
#optionsframework .jquery-ui-slider .display-value-arrow {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #d8d8d8;
	display: block;
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -5px;
	width: 0;
	height: 0;
}

/* Columns and Column Widths */
#optionsframework .section-columns .select-wrap {
	margin-right: 3%;
	width: 47%;
}
#optionsframework .section-columns .inactive {
	margin: 5px 0 0;
}
#optionsframework .section-column_widths {
	position: relative;
}
#optionsframework .section-columns .controls,
#optionsframework .section-column_widths .controls {
	float: none;
	min-width: 0;
	margin-bottom: 10px;
	padding: 0;
	width: auto;
}
#optionsframework .section-column_widths .controls {
	margin-bottom: 0;
}
#optionsframework .section-columns .explain,
#optionsframework .section-column_widths .explain {
	float: none;
	max-width: none;
}
#optionsframework .section-column_widths p.explain {
	padding-bottom: 0;
}
#optionsframework .section-column_widths .select-grid-system {
	position: absolute;
	top: 0;
	right: 0;
}
#optionsframework .section-column_widths .select-grid-system .textbox {
	border-top: none;
	border-right: none;
}
#optionsframework .section-column_widths .slider {
	background: #f8f8f8;
	border: 1px solid #ddd;
	height: 20px;
	position: relative;
}
#optionsframework .section-column_widths .ui-slider-handle {
	background: #dddddd;
	cursor: col-resize;
	display: block;
	margin-left: -3px;
	outline: none;
	position: absolute;
	top: -1px;
	width: 6px;
	height: 22px;
	z-index: 3;
}
#optionsframework .section-column_widths .ui-slider-handle:hover,
#optionsframework .section-column_widths .ui-slider-handle.ui-state-focus,
#optionsframework .section-column_widths .ui-slider-handle.ui-state-hover {
	background: #969696;
}
#optionsframework .section-column_widths .ui-slider-handle:first-of-type,
#optionsframework .section-column_widths .ui-slider-handle:last-of-type {
	display: none;
}
#optionsframework .section-column_widths .column-preview {
	color: #888888;
	font-weight: bold;
	position: absolute;
	top: 0;
	height: 20px;
	line-height: 20px;
	text-align: center;
	z-index: 2;
}
#optionsframework .section-column_widths .grid-display .grid-column {
	border-right: 1px dashed #dddddd;
	height: 20px;
	position: absolute;
	top: 0;
	z-index: 1;
}
#optionsframework .section-column_widths .grid-display .grid-column:last-child {
	border-right: none;
}
#optionsframework .section-column_widths p.explain {
	text-align: center;
	color: #888;
	font-style: italic;
	font-size: 12px;
	text-align: center;
}

/* Sortables */
#optionsframework .section-sortable > .option > .controls {
	position: relative;
}
#optionsframework .tb-sortable-option footer {
	background: #f8f8f8;
	padding: 5px;
	position: relative;
}
#optionsframework .section-sortable .delete-sortable-items {
	font-size: 16px;
	color: #c61f1f;
	outline: 0;
	position: absolute;
	right: 5px;
	top: 10px;
}
#optionsframework .section-sortable .delete-sortable-items:hover {
	color: #f12323;
}
#optionsframework .tb-sortable-option .item {
	background: #ffffff;
	margin-bottom: 5px;
}
#optionsframework .tb-sortable-option .item-handle {
	background: #fafafa;
	border: 1px solid #dfdfdf;
	color: #464646;
	cursor: move;
	-moz-box-shadow: inset 0 1px 0 white;
	-webkit-box-shadow: inset 0 1px 0 white;
	box-shadow: inset 0 1px 0 white;
	text-shadow: white 0 1px 0;
	position: relative;
}
#optionsframework .tb-sortable-option .item-handle:hover {
	border-color: #b6b6b6;
}
#optionsframework .tb-sortable-option .item-handle h3 {
	border: none;
	cursor: move;
	font-size: 13px;
	padding: 0 10px 0 22px;
	height: 32px; /* Fix for if <h3> happens to be empty */
	line-height: 32px;
	margin: 0;
	overflow: hidden;
	padding: 0 10px 0 22px;
}
#optionsframework .tb-sortable-option .item-handle .tb-icon-sort {
	font-size: 14px;
	position: absolute;
	top: 9px;
	left: 2px;
}
#optionsframework .tb-sortable-option .item-handle a.toggle {
	position: absolute;
	top: 0;
	right: 0;
	color: #666666;
	font-size: 15px;
	line-height: 32px;
	outline: none;
	text-align: center;
	width: 30px;
	height: 32px;
}
#optionsframework .tb-sortable-option .item-handle a.toggle:hover {
	color: #000000;
}
#optionsframework .tb-sortable-option .item-handle.closed a.toggle {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
#optionsframework .tb-sortable-option .item-content {
	border: 1px solid #dfdfdf;
	border-top: none;
	display: none;
}
#optionsframework .tb-sortable-option .section {
	padding: 10px;
}
#optionsframework .tb-sortable-option > .section:last-child {
	border-bottom: none;
}
#optionsframework .tb-sortable-option .section h4 {
	margin: 0 0 8px 4px;
}
#optionsframework .tb-sortable-option .section-hidden {
	display: none;
}
#optionsframework .tb-sortable-option .delete-sortable-item {
	color: #c61f1f;
	font-size: 12px;
	text-decoration: none;
}
#optionsframework .tb-sortable-option .delete-sortable-item:hover {
	color: #f12323;
}
#optionsframework .tb-sortable-option textarea {
	height: 100px;
}

/* Sortables - slider */
#optionsframework .section-slider > .option > .controls {
	float: none;
	min-width: 0;
	margin-bottom: 10px;
	padding: 0;
	width: auto;
}
#optionsframework .section-slider > .option > .explain {
	float: none;
	max-width: none;
}
#optionsframework .section-slider .tb-sortable-option .item-handle .preview {
	background: #ffffff;
	border: 1px solid #dfdfdf;
	padding: 4px;
	position: absolute;
	top: 5px;
	left: 25px;
}
#optionsframework .section-slider .tb-sortable-option .item-handle {
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f7f7));
	background-image: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
	background-image: -moz-linear-gradient(top, #ffffff, #f7f7f7);
	background-image: -o-linear-gradient(top, #ffffff, #f7f7f7);
	background-image: -ms-linear-gradient(top, #ffffff, #f7f7f7);
	background-image: linear-gradient(top, #ffffff, #f7f7f7);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#f7f7f7');
	-moz-box-shadow: inset 0 -1px 0 #ffffff;
	-webkit-box-shadow: inset 0 -1px 0 #ffffff;
	box-shadow: inset inset 0 -1px 0 #ffffff;
}
#optionsframework .section-slider .tb-sortable-option .item-handle .preview img {
	display: block;
	width: 40px;
	height: 40px;
}
#optionsframework .section-slider .tb-sortable-option .item-handle h3 {
	line-height: 60px;
	padding-left: 84px;
	height: 60px;
}
#optionsframework .section-slider .tb-sortable-option .item-handle .tb-icon-sort {
	top: 24px;
}
#optionsframework .section-slider .tb-sortable-option .item-handle a.toggle {
	height: 60px;
	line-height: 60px;
}

/* Sortables - tabs */
#optionsframework .section-tabs > .option > .controls {
	float: none;
	min-width: 0;
	margin-bottom: 10px;
	padding: 0;
	width: auto;
}
#optionsframework .section-tabs > .option > .explain {
	float: none;
	max-width: none;
}
#optionsframework .section-tabs .tb-sortable-option textarea {
	height: auto;
}