/*
Base Name: Entrepreneur
Description: A more standard, corporate design with a lot of user options.
Author: Theme Blvd
Author URI: http://www.themeblvd.com
*/

/* =Top
-----------------------------------------------*/

.site-header {
	background: #ffffff;
	z-index: 900;
}
@media (min-width: 992px) {
	.header-content {
		height: 90px;
	}
}
@media (max-width: 767px) {
	.header-content {
		height: auto;
	}
}

/* Header Top */
.header-top.dark {
	color: #ffffff;
}
.header-top.dark .header-top-nav > li {
	border-color: rgba(0,0,0,0.4);
}
.header-top.dark .header-top-nav .tb-search-trigger,
.header-top.dark .header-top-nav .tb-cart-trigger {
	color: #ffffff;
    color: rgba(255,255,255,.8);
}
.header-top.dark .header-top-nav .tb-search-trigger:hover,
.header-top.dark .header-top-nav .tb-cart-trigger:hover {
	color: #ffffff;
}
.header-top.dark .header-top-nav .tb-side-trigger .hamburger span {
	background-color: #ffffff;
    background-color: rgba(255,255,255,.8);
}
.header-top.dark .site-header.transparent .header-top-nav .tb-side-trigger:hover .hamburger span {
	background-color: #ffffff;
}

/* BG parallax */
.site-header.tb-parallax {
	overflow: visible;
}
.site-header.tb-parallax .parallax-figure {
	overflow: hidden;
}

/* BG video */
.site-header.has-bg-video {
	overflow: visible;
}
.site-header.has-bg-video .header-video {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
@media (max-width: 991px) {
	.site-header.has-bg-video .header-video {
		display: none;
	}
}

/* BG shade */
.site-header.has-bg-shade > .wrap > .bg-shade {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.site-header.has-bg-shade > .wrap > .header-top,
.site-header.has-bg-shade > .wrap > .header-above,
.site-header.has-bg-shade > .wrap > .header-content,
.site-header.has-bg-shade > .wrap > .header-nav {
	position: relative;
	z-index: 3;
}

/* BG slideshow */
.site-header.has-bg-slideshow {
	background: #000000;
}
.site-header.has-bg-slideshow > .wrap > .tb-bg-slideshow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.site-header.has-bg-slideshow > .wrap > .header-top,
.site-header.has-bg-slideshow > .wrap > .header-above,
.site-header.has-bg-slideshow > .wrap > .header-content,
.site-header.has-bg-slideshow > .wrap > .header-nav {
	position: relative;
	z-index: 2;
}

/* BG Video */
.site-header.has-bg-video > .tb-bg-video {
	z-index: 1;
}
.site-header.has-bg-video > .wrap > .header-top,
.site-header.has-bg-video > .wrap > .header-above,
.site-header.has-bg-video > .wrap > .header-content,
.site-header.has-bg-video > .wrap > .header-nav {
	position: relative;
	z-index: 2;
}

/* Header Content */
@media (min-width: 992px) {
	.header-content > .wrap {
		padding: 0;
	}
	.header-content .header-logo {
		padding: 10px 20px 10px 10px;
	}
	.rtl .header-content .header-logo {
		padding: 10px 10px 10px 20px;
	}
	.header-content .header-logo .tb-image-logo {
		display: block;
		line-height: 1;
	}
	.header-content .header-logo img {
		width: auto;
		height: 70px;
	}
}
.header-content .header-text-logo {
	padding: 31px 10px;
}
.header-content .header-text-logo.header_logo_has_tagline {
	padding: 22px 10px;
}
@media (min-width: 768px) {
	.header-content .header-text-logo .tb-text-logo {
		font-size: 28px;
		line-height: 1;
	}
}
@media (max-width: 767px) {
	.mobile-light .header-text-logo .tb-text-logo {
		color: #222222;
	}
}
.header-content .header-text-logo .tagline {
	display: block;
	font-size: 13px;
	line-height: 1;
	margin-top: 5px;
}
@media (min-width: 768px) {
	.header-content .header-text-logo .tagline {
		display: none;
	}
	.mobile-nav > li > a {
		padding-right: 10px;
		padding-left: 10px;
	}
}

/* Primary Navigation (non-mobile view) */
.header-nav {
	background: transparent;
	float: right;
}
.rtl .header-nav {
	float: left;
}
.header-nav .tb-primary-menu,
.header-nav .header-menu-addon {
	float: left;
}
.rtl .header-nav .tb-primary-menu,
.rtl .header-nav .header-menu-addon {
	float: right;
}
.header-nav .tb-primary-menu {
	position: static;
}

/* Level 1 */
.header-nav .tb-primary-menu > li {
	margin: 0 10px;
}
.header-nav .tb-primary-menu > li > .menu-btn {
	color: #555555;
	color: rgba(26,26,26,.7);
	font-size: 13px;
	line-height: 20px;
	padding: 35px 5px 35px 5px;
	position: relative;
	-webkit-transition: none;
	transition: none;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.site-header.dark .header-nav .tb-primary-menu > li > .menu-btn {
	color: #ffffff;
}
.header-nav .tb-primary-menu > li.current-menu-item > .menu-btn,
.header-nav .tb-primary-menu > li.current-menu-ancestor > .menu-btn,
.header-nav .tb-primary-menu > li > a:hover {
	background-color: transparent; /* Override default theme menu style */
}
.header-nav .tb-primary-menu > li > .menu-btn:before {
	content: "";
	position: absolute;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #fec527; /* highlight */
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	z-index: -1;
}
.header-nav .tb-primary-menu > li.current-menu-item > .menu-btn:before,
.header-nav .tb-primary-menu > li.current-menu-ancestor > .menu-btn:before,
.header-nav .tb-primary-menu > li > .menu-btn:hover:before {
	left: 0;
	right: 0;
}
@media (max-width: 1199px) {
	.header-nav .tb-primary-menu > li {
		margin: 0 5px;
	}
}
.header-nav .tb-primary-menu > li.menu-item-has-children > .menu-btn {
	padding-right: 2px;
}
.rtl .header-nav .tb-primary-menu > li.menu-item-has-children > .menu-btn {
	padding-left: 2px;
}

/* Level 2+ */
.tb-primary-menu > li > ul.non-mega-sub-menu, /* 2nd level only */
.tb-primary-menu .sf-mega {
	border-top: 4px solid #1971af;
	margin-top: -4px;
}
.tb-sticky-menu .tb-primary-menu > li > ul.non-mega-sub-menu,
.tb-sticky-menu .tb-primary-menu .sf-mega {
	border-top: none;
	margin-top: 0;
}
.drop-dark .tb-primary-menu ul.non-mega-sub-menu,
.drop-dark .tb-primary-menu .sf-mega {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.drop-dark .tb-primary-menu ul.sub-menu .menu-btn,
.drop-dark .tb-primary-menu .mega-section-header {
	color: #cccccc;
	color: rgba(255,255,255,.80);
}
.drop-dark .tb-primary-menu .mega-section-header,
.drop-dark .tb-primary-menu ul.sub-menu .menu-btn:hover {
	color: #ffffff;
}

/* Menu Addons */
.header-nav .tb-primary-menu > li.menu-search,
.header-nav .tb-primary-menu > li.menu-contact,
.header-nav .tb-primary-menu > li.menu-cart,
.header-nav .tb-primary-menu > li.menu-side-panel {
	margin: 0;
}
.header-nav .tb-primary-menu > li.menu-search > .tb-search-trigger,
.header-nav .tb-primary-menu > li.menu-contact > .tb-contact-trigger,
.header-nav .tb-primary-menu > li.menu-cart > .tb-cart-trigger,
.header-nav .tb-primary-menu > li.menu-side-panel > .tb-side-trigger {
	outline: none;
	padding-right: 8px;
	padding-left: 8px;
}
.header-nav .tb-primary-menu > li > .tb-search-trigger .fa,
.header-nav .tb-primary-menu > li > .tb-contact-trigger .fa,
.header-nav .tb-primary-menu > li > .tb-cart-trigger .fa {
	margin: 0;
	width: 1em;
	text-align: center;
}
.header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label {
	padding-right: 15px;
	padding-left: 10px;
}
.header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-2 {
	padding-right: 22px;
}
.header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-3 {
	padding-right: 30px;
}
.header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-4 {
	padding-right: 35px;
}
.header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-5 {
	padding-right: 43px;
}
.rtl .header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label {
	padding-right: 10px;
	padding-left: 15px;
}
.rtl .header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-2 {
	padding-left: 22px;
}
.rtl .header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-3 {
	padding-left: 30px;
}
.rtl .header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-4 {
	padding-left: 35px;
}
.rtl .header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-5 {
	padding-left: 43px;
}
.header-nav .tb-primary-menu > li > .tb-cart-trigger .trigger-label {
	top: 50%;
	left: 20px;
	margin-top: -2px;
}
.rtl .header-nav .tb-primary-menu > li > .tb-cart-trigger .trigger-label {
	right: 20px;
	left: auto;
}
.header-nav .tb-primary-menu > li > .tb-side-trigger .hamburger {
	margin: 4px 0;
	width: 16px;
    height: 12px;
}
.header-nav .tb-primary-menu > li > .tb-side-trigger .hamburger span {
	background-color: #555555;
	background-color: rgba(26,26,26,.7);
}
.site-header.dark .header-nav .tb-primary-menu > li > .tb-side-trigger .hamburger span {
	background-color: #ffffff;
}

/* Transparent Header */
.site-header.transparent {
	background-color: rgba(0,0,0,0.1);
}
.site-header.transparent > .wrap {
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.site-header.transparent .header-top {
	background-color: transparent;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.site-header.transparent .header-nav,
.site-header.transparent .header-nav .tb-primary-menu > li > a:hover {
	background-color: transparent;
}
.site-header.transparent .header-nav .tb-primary-menu > li > .menu-btn,
.site-header.transparent .header-nav .tb-floater .floater-trigger {
	color: #ffffff; /* backup for older browsers */
	color: rgba(255,255,255,.9);
}
.site-header.transparent .header-nav .tb-primary-menu > li > .menu-btn:hover,
.site-header.transparent .header-nav .tb-floater .floater-trigger:hover {
	color: #ffffff;
}
.site-header.transparent .header-nav .tb-primary-menu > li > .menu-btn:before {
	background-color: #ffffff;
}
.site-header.transparent .mobile-nav > li > a {
	background-color: transparent;
	color: #ffffff;
}
.site-header.transparent .tb-nav-trigger .hamburger span {
	background-color: #ffffff;
}

/* Sticky Menu */
.tb-sticky-menu.dark .tb-primary-menu > li > .menu-btn {
	color: #ffffff;
}
.tb-sticky-menu.dark .tb-primary-menu > li > .menu-btn:hover {
	background-color: #000000;
	background-color: rgba(255,255,255,.1);
}

/* Mobile Nav */
@media (max-width: 991px) and (min-width: 768px) {
	.site-header.dark .mobile-nav > li > a {
		color: #ffffff;
		color: rgba(255,255,255,.8);
	}
	.site-header.dark .mobile-nav > li > a:hover {
		color: #ffffff;
	}
	.site-header.dark .tb-nav-trigger .hamburger span {
		background-color: #ffffff;
		background-color: rgba(255,255,255,.8);
	}
	.site-header.dark .tb-nav-trigger:hover .hamburger span,
	.site-header.dark .tb-nav-trigger.collapse .hamburger span {
		background-color: #ffffff;
	}
}
@media (max-width: 768px) {
	.site-header.mobile-light .mobile-nav,
	.site-header.mobile-light .mobile-nav > li {
		border-color: rgba(200,200,200,.3);
	}
	.site-header.mobile-light .mobile-nav > li > a {
		color: rgba(10,10,10,.7);
	}
	.site-header.mobile-light .mobile-nav > li > a:hover {
		color: #222222;
	}
	.site-header.mobile-light .tb-nav-trigger .hamburger span {
		background-color: rgba(10,10,10,.7);
	}
	.site-header.mobile-light .tb-nav-trigger:hover .hamburger span,
	.site-header.mobile-light .tb-nav-trigger.collapse .hamburger span {
		background-color: #222222;
	}
}

/* Side Panel */
.tb-side-panel.light .menu-btn,
.tb-side-panel.light .secondary-menu a {
	color: #666666;
	color: rgba(26,26,26,.7);
}
.tb-side-panel.light .menu-btn:hover,
.tb-side-panel.light .menu-btn:focus,
.tb-side-panel.light .secondary-menu a:hover,
.tb-side-panel.light .secondary-menu a:focus {
	color: rgba(26,26,26,.9);
}
.tb-side-panel.light .menu li.no-click > a:not(.submenu-toggle) {
	color: rgba(26,26,26,.7);
}
.tb-side-panel.light .submenu-toggle:hover {
	background-color: rgba(220,220,220,.5);
}
.tb-side-panel.light .submenu-toggle:before,
.tb-side-panel.light .submenu-toggle:after {
    background-color: #cccccc;
    background-color: rgba(26,26,26,.7);
}

/* Mobile Panel */
.tb-mobile-menu-wrapper.light .tb-mobile-menu > li > .menu-btn,
.tb-mobile-menu-wrapper.light .tb-mobile-menu > li > .menu-btn:hover,
.tb-mobile-menu-wrapper.light .tb-mobile-menu > li > .menu-btn:focus,
.tb-mobile-menu-wrapper.light .tb-mobile-menu > li > .menu-btn:active {
	color: rgba(26,26,26,.9);
}
.tb-mobile-menu-wrapper.light .tb-mobile-menu > li > .menu-btn:hover,
.tb-mobile-menu-wrapper.light .tb-mobile-menu > li > .menu-btn:focus,
.tb-mobile-menu-wrapper.light .tb-mobile-menu > li > .menu-btn:active {
	background-color: rgba(220,220,220,.25);
}
.tb-mobile-menu-wrapper.light .tb-search .search-input,
.tb-mobile-menu-wrapper.light .tb-search.mini .search-submit,
.tb-mobile-menu-wrapper.light li li a,
.tb-mobile-menu-wrapper.light li li span,
.tb-mobile-menu-wrapper.light .secondary-menu a,
.tb-mobile-menu-wrapper.light .header-text,
.tb-mobile-menu-wrapper.light .header-text a,
.tb-mobile-menu-wrapper.light .tb-social-icons a {
	color: #666666; /* fallback */
	color: rgba(26,26,26,.7);
}
.tb-mobile-menu-wrapper.light .tb-search.mini .search-submit:hover,
.tb-mobile-menu-wrapper.light .tb-search.mini .search-submit:focus,
.tb-mobile-menu-wrapper.light li li a:hover,
.tb-mobile-menu-wrapper.light li li a:focus,
.tb-mobile-menu-wrapper.light .secondary-menu a:hover,
.tb-mobile-menu-wrapper.light .secondary-menu a:focus,
.tb-mobile-menu-wrapper.light .header-text a:hover,
.tb-mobile-menu-wrapper.light .header-text a:focus,
.tb-mobile-menu-wrapper.light .tb-social-icons a:hover,
.tb-mobile-menu-wrapper.light .tb-social-icons a:focus {
	color: rgba(26,26,26,.9);
}
.tb-mobile-menu-wrapper.light .tb-mobile-menu > li {
	border-bottom-color: rgba(220,220,220,.5);
}
.tb-mobile-menu-wrapper.light .tb-side-menu .sub-menu {
	background-image: url('../../framework/assets/images/parts/side-nav-list-outer-cccccc.png');
}
.tb-mobile-menu-wrapper.light .tb-side-menu .sub-menu li {
	background-image: url('../../framework/assets/images/parts/side-nav-list-ltr-cccccc.png');
}
.tb-mobile-menu-wrapper.light .tb-search {
	border-bottom-color: rgba(220,220,220,.5);
}
.tb-mobile-menu-wrapper.light .tb-search.mini > form {
	background-color: rgba(220,220,220,.25);
}
.tb-mobile-menu-wrapper.light .tb-search .search-input::-moz-placeholder {
	color: rgba(26,26,26,.25);
}
.tb-mobile-menu-wrapper.light .tb-search .search-input:-ms-input-placeholder {
	color: rgba(26,26,26,.25);
}
.tb-mobile-menu-wrapper.light .tb-search .search-input::-webkit-input-placeholder {
	color: rgba(26,26,26,.25);
}

/* Menu Highlight */
.site-header .tb-primary-menu > li.highlight {
	padding: 25px 0;
}
.site-header .tb-primary-menu > li.highlight > a {
	border-color: #333333;
	color: #333333;
	padding-top: 8px;
	padding-bottom: 8px;
}
.site-header .tb-primary-menu > li.highlight > a:hover {
	background-color: #333333;
	border-color: transparent;
	color: #ffffff;
}
.site-header .header-nav .tb-primary-menu > li.highlight > .menu-btn:before {
	display: none;
}
.site-header.dark .tb-primary-menu > li.highlight > a {
	border-color: #ffffff;
	color: #ffffff;
}
.site-header.dark .tb-primary-menu > li.highlight > a:hover {
	background-color: #ffffff;
	border-color: transparent;
	color: #333333;
}
.tb-side-panel.light li.highlight > a {
	border-color: #333333;
	color: #333333;
}
.tb-side-panel.light li.highlight > a:hover {
	background-color: #333333;
	border-color: transparent;
	color: #ffffff;
}
.tb-sticky-menu.dark .tb-primary-menu > li.highlight > a {
	border-color: #ffffff;
	color: #ffffff;
}
.tb-sticky-menu.dark .tb-primary-menu > li.highlight > .menu-btn:hover {
	background-color: #ffffff;
	border-color: transparent;
	color: #333333;
}

/* Epic Thumb */
@media (max-width: 767px) {
	.epic-thumb .epic-thumb-header .entry-title {
		letter-spacing: 0;
	}
}

/* =Boxed Layout
-----------------------------------------------*/

.tb-boxed #container {
	margin-right: auto;
	margin-left: auto;
	max-width: 1170px;
}
@media (max-width: 1199px) {
	.tb-boxed #container {
		max-width: 960px;
	}
}
@media (max-width: 991px) {
	.tb-boxed #container {
		max-width: 720px;
	}
}
@media (max-width: 767px) {
	.tb-boxed #container {
		max-width: 480px;
	}
}
.tb-boxed .site-header:not(.has-bg),
.tb-boxed .site-breadcrumbs,
.tb-boxed .site-inner,
.tb-boxed .site-footer:not(.has-bg) {
	background: #ffffff;
}
.tb-boxed.content_dark .site-header:not(.has-bg),
.tb-boxed.content_dark .site-breadcrumbs,
.tb-boxed.content_dark .site-inner,
.tb-boxed.content_dark .site-footer:not(.has-bg) {
	background: #222222;
}
.tb-boxed .site-header.transparent,
.tb-boxed.content_dark .site-header.transparent {
	background-color: transparent;
}
.tb-boxed .tb-sticky-menu {
	margin-left: -585px;
	max-width: 1170px;
	left: 50%;
}
@media (max-width: 1199px) {
	.tb-boxed .tb-sticky-menu {
		margin-left: -480px;
		max-width: 960px;
	}
}
.tb-boxed .tb-sticky-menu > .wrap {
	padding: 0 15px;
}
.tb-boxed .header-top > .wrap,
.tb-boxed .header-above > .wrap,
.tb-boxed .header-content > .wrap,
.tb-boxed .header-nav > .wrap,
.tb-boxed .site-breadcrumbs > .wrap,
.tb-boxed .site-inner > .wrap,
.tb-boxed .element-section > .element.no-popout,
.tb-boxed .site-footer > .wrap {
	margin-right: 0;
	margin-left: 0;
	max-width: none;
}
.tb-boxed .header-content > .wrap {
	padding-right: 15px;
	padding-left: 15px;
}
.tb-boxed #breadcrumbs {
	padding: 30px 30px 0 30px;
}
.tb-boxed #main {
	padding: 30px;
}
.tb-boxed .footer-content {
	padding: 30px;
}
.tb-boxed .footer-sub-content {
	padding: 20px 30px;
}
.tb-boxed .footer-sub-content .tb-social-icons {
	right: 30px;
}
.tb-boxed .site-footer > .wrap {
	padding: 0;
}

/* Epic Thumbmail */
.tb-boxed .epic-thumb.fs figure,
.tb-boxed .epic-thumb.fs figure img {
    max-width: 1170px;
}
.tb-boxed .epic-thumb.fs figure {
    left: inherit;
}
@media (max-width: 1199px) {
    .tb-boxed .epic-thumb.fs figure,
    .tb-boxed .epic-thumb.fs figure img {
        max-width: 960px;
    }
}
@media (max-width: 991px) {
    .tb-boxed .epic-thumb.fs figure,
    .tb-boxed .epic-thumb.fs figure img {
        max-width: 720px;
    }
}

/* Content Padding */
.tb-boxed .blog-wrap > article,
.tb-boxed article.single,
.tb-boxed article.page,
.tb-boxed .search-page,
.tb-boxed .post_list.archive-loop,
.tb-boxed .post_grid.archive-loop,
.tb-boxed .post_showcase.archive-loop,
.tb-boxed .list-template-wrap .list-wrap,
.tb-boxed .grid-template-wrap .grid-wrap,
.tb-boxed .showcase-template-wrap .showcase-wrap,
.tb-boxed .tb-product-loop-wrap,
.tb-boxed .tb-product-wrap {
	background-color: transparent;
	padding: 0 0 30px 0;
}

/* Info/Author Box and Comments */
.tb-boxed .tb-info-box,
.tb-boxed .tb-related-posts,
.tb-boxed .products.upsells,
.tb-boxed .products.related,
.tb-boxed #comments,
.tb-boxed .tb-naked-page .bbp-topic-form,
.tb-boxed .tb-naked-page .bbp-reply-form {
	background: transparent;
	margin-bottom: 50px;
	padding: 0;
}

/* Blog */
.tb-boxed .blog-wrap > article,
.tb-boxed article.single {
	padding: 0;
}
.tb-boxed .blog-wrap > article > .featured-item,
.tb-boxed article.single > .featured-item {
	margin: 0 0 20px 0;
}

/* Breadcrumbs */
.tb-boxed .breadcrumb {
	padding: 0 5px;
}

/* WooCommerce */
.tb-boxed .tb-product-wrap {
	padding-bottom: 0;
}
.tb-boxed .woocommerce-tabs .tabs {
	background-color: #f5f5f5;
	border: 1px solid #f2f2f2;
	border-color: rgba(220,220,220,.4);
}
.tb-boxed .woocommerce-tabs .tabs > li {
	border-right: 1px solid #f2f2f2;
	border-right-color: rgba(220,220,220,.4);
}
.tb-boxed.rtl .woocommerce-tabs .tabs > li {
	border-right: none;
	border-left: 1px solid #f2f2f2;
	border-left-color: rgba(220,220,220,.4);
}
.tb-boxed.content_dark .woocommerce-tabs .tabs,
.tb-boxed.content_dark .woocommerce-tabs .tabs > li {
	background-color: #151515;
	border-color: #000000;
}
.tb-boxed .woocommerce-tabs .panel {
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 20px 5px;
}
