/*
Base Name: Entrepreneur
Description: For the modern entrepreneur, this base embodies the current design trends of the web industry.
Author: Theme Blvd
Author URI: http://www.themeblvd.com
*/

/* =Top
-----------------------------------------------*/

.site-header {
	background: #ffffff;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	z-index: 900;
}
@media (min-width: 993px) {
	.header-content {
		height: 90px;
	}
}
@media (max-width: 767px) {
	.header-content {
		height: auto;
	}
}

/* BG shade */
.site-header.has-bg-shade > .wrap > .bg-shade {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.site-header.has-bg-shade > .wrap > .header-top,
.site-header.has-bg-shade > .wrap > .header-above,
.site-header.has-bg-shade > .wrap > .header-content,
.site-header.has-bg-shade > .wrap > .header-nav {
	position: relative;
	z-index: 3;
}

/* BG slideshow */
.site-header.has-bg-slideshow {
	background: #000000;
}
.site-header.has-bg-slideshow > .wrap > .tb-bg-slideshow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.site-header.has-bg-slideshow > .wrap > .header-top,
.site-header.has-bg-slideshow > .wrap > .header-above,
.site-header.has-bg-slideshow > .wrap > .header-content,
.site-header.has-bg-slideshow > .wrap > .header-nav {
	position: relative;
	z-index: 2;
}

/* Header Content */
@media (min-width: 993px) {
	.header-content > .wrap {
		padding: 0;
	}
	.header-content .header-logo {
		padding: 10px;
	}
}
@media (min-width: 768px) {
	.header-content .header-logo img {
		width: auto;
		height: 70px;
	}
}
@media (max-width: 767px) {
	.header-content .header-logo img {
		height: initial !important;
	}
}
.header-content .header-text-logo {
	padding: 31px 10px;
}
.header-content .header-text-logo.header_logo_has_tagline {
	padding: 22px 10px;
}
.header-content .header-text-logo .tb-text-logo {
	font-size: 28px;
	line-height: 1;
}
.header-content .header-text-logo .tagline {
	display: block;
	font-size: 13px;
	line-height: 1;
	margin-top: 5px;
}

/* Primary Navigation (non-mobile view) */
.header-nav {
	background: transparent;
	float: right;
	padding-right: 10px;
}
.rtl .header-nav {
	float: left;
}
.header-nav .tb-primary-menu,
.header-nav .header-menu-addon {
	float: left;
}
.rtl .header-nav .tb-primary-menu,
.rtl .header-nav .header-menu-addon {
	float: right;
}
.header-nav .tb-primary-menu {
	position: static;
}

/* Level 1 */
.header-nav .tb-primary-menu > li > .menu-btn {
	border-bottom: 4px solid transparent;
	color: #555555;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	padding: 35px 15px 33px 15px;
	-moz-transition: none;
	-webkit-transition: none;
	transition: none;
}
@media (max-width: 1200px) {
	.header-nav .tb-primary-menu > li > .menu-btn {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.header-nav .tb-primary-menu > li > a:hover {
	background-color: transparent;
	border-bottom-color: #1971af;
}
.header-nav .tb-primary-menu > li.menu-item-has-children > .menu-btn{
	border-bottom: none; /* Border will be attached to top of dropdown */
	padding-right: 5px;
}

/* Level 2+ */
.tb-primary-menu ul.non-mega-sub-menu,
.tb-primary-menu .sf-mega {
	border: none;
	-webkit-box-shadow: 0 8px 15px rgba(0,0,0,0.1);
	box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}
.tb-primary-menu > li > ul.non-mega-sub-menu, /* 2nd level only */
.tb-primary-menu .sf-mega {
	border-top: 4px solid #1971af;
}
.tb-primary-menu.sf-menu .sf-mega {
	margin-top: -4px;
}

/* Popups */
.header-nav .tb-floater {
	margin-left: 5px;
	float: right;
}
.rtl .header-nav .tb-floater {
	float: left;
	margin-left: 0;
	margin-right: 5px;
}
.header-nav .tb-cart-popup {
	margin-right: 2px; /* a little space for cart item count */
}
.rtl .header-nav .tb-cart-popup {
	margin-right: 0;
	margin-left: 2px; /* a little space for cart item count */
}
.header-nav .tb-floater .floater-trigger {
	color: #808080;
	padding-top: 37px;
}
.header-nav .tb-floater .floater-trigger:hover {
	color: #333333;
}

/* Transparent Header */
.site-header.transparent {
	background-color: rgba(0,0,0,0.1);
}
.site-header.transparent > .wrap {
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.site-header.transparent .header-top {
	background-color: rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.site-header.transparent .header-nav,
.site-header.transparent .tb-primary-menu > li > a:hover {
	background-color: transparent;
}
.site-header.transparent .header-nav .tb-primary-menu > li > .menu-btn,
.site-header.transparent .header-nav .tb-floater .floater-trigger {
	color: #ffffff;
}
.site-header.transparent .header-nav .tb-primary-menu > li > a:hover {
	border-bottom-color: #ffffff;
}
@media (min-width: 768px) {
	.site-header.transparent .btn-navbar {
		border: 1px solid rgba(0,0,0,.6);
	}
}

/* Responsive Menu */
#tb-side-menu-wrapper,
#tb-side-menu-wrapper .tb-side-menu > li,
#tb-side-menu-wrapper .tb-search {
	border-color: rgba(0,0,0,.2);
}

/* =Bottom
-----------------------------------------------*/

.site-footer {
	padding: 20px 0;
}
.site-footer.has-bg {
	padding: 30px 0;
}

/* =Boxed Layout
-----------------------------------------------*/

.js-boxed #container {
	background: #ffffff;
	margin-right: auto;
	margin-left: auto;
	max-width: 1170px;
}
.js-boxed.content_dark #container {
	background: #222222;
}
@media (max-width: 1200px) {
	.js-boxed #container {
		max-width: 990px;
	}
}
@media (max-width: 992px) {
	.js-boxed #container {
		max-width: 738px;
	}
}
@media (max-width: 767px) {
	.js-boxed #container {
		max-width: 480px;
	}
}
.js-boxed .tb-sticky-menu {
	margin-left: -585px;
	max-width: 1170px;
	left: 50%;
}
@media (max-width: 1200px) {
	.js-boxed .tb-sticky-menu {
		margin-left: -480px;
		max-width: 960px;
	}
}
.js-boxed .tb-sticky-menu > .wrap {
	padding: 0 15px;
}
.js-boxed .header-top > .wrap,
.js-boxed .header-above > .wrap,
.js-boxed .header-content > .wrap,
.js-boxed .header-nav > .wrap,
.js-boxed .tb-featured-banner > .wrap,
.js-boxed .site-inner > .wrap,
.js-boxed .element-section > .element.no-popout,
.js-boxed .site-footer > .wrap {
	margin-right: 0;
	margin-left: 0;
	max-width: none;
}
.js-boxed .header-content > .wrap {
	padding-right: 15px;
	padding-left: 15px;
}
.js-boxed #main {
	padding: 30px;
}
.js-boxed .footer-content {
	padding: 30px;
}
.js-boxed .footer-sub-content {
	padding: 20px 30px;
}
.js-boxed .footer-sub-content .tb-social-icons {
	right: 30px;
}
.js-boxed .site-footer > .wrap {
	padding: 0;
}

/* Content Padding */
.js-boxed .blog-wrap > article,
.js-boxed article.single,
.js-boxed article.page,
.js-boxed .search-page,
.js-boxed .post_list.archive-loop,
.js-boxed .post_grid.archive-loop,
.js-boxed .post_showcase.archive-loop,
.js-boxed .list-template-wrap .list-wrap,
.js-boxed .grid-template-wrap .grid-wrap,
.js-boxed .showcase-template-wrap .showcase-wrap,
.js-boxed .tb-product-loop-wrap,
.js-boxed .tb-product-wrap {
	background-color: transparent;
	padding: 0 0 30px 0;
}

/* Info/Author Box and Comments */
.js-boxed #comments .comment-body,
.js-boxed #respond #commentform,
.js-boxed .comment #respond,
.js-boxed .tb-related-posts > .inner,
.js-boxed .tb-info-box {
	background: #fcfcfc;
	border: 1px solid #eeeeee;
}
.js-boxed.content_dark #comments .comment-body,
.js-boxed.content_dark #respond #commentform,
.js-boxed.content_dark .comment #respond,
.js-boxed.content_dark .tb-related-posts > .inner,
.js-boxed.content_dark .tb-info-box {
	background-color: #323232;
	border-color: #000000;
}
.comment #respond #commentform {
	background: transparent;
	border: none;
}

/* Blog */
.js-boxed .blog-wrap > article,
.js-boxed article.single {
	padding-top: 0;
	margin-bottom: 0;
}

/* Breadcrumbs */
.js-boxed .breadcrumb {
	padding: 0 5px;
}

/* WooCommerce */
.js-boxed .tb-product-wrap {
	padding-bottom: 0;
}
.js-boxed .woocommerce-tabs .tabs {
	background-color: #f5f5f5;
	border: 1px solid #dddddd;
}
.js-boxed .woocommerce-tabs .tabs > li {
	border-right: 1px solid #dddddd;
}
.js-boxed.rtl .woocommerce-tabs .tabs > li {
	border-right: none;
	border-right: 1px solid #dddddd;
}
.js-boxed.content_dark .woocommerce-tabs .tabs,
.js-boxed.content_dark .woocommerce-tabs .tabs > li {
	background-color: #151515;
	border-color: #000000;
}
.js-boxed .woocommerce-tabs .panel {
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 20px 5px;
}
.header-nav .cart-trigger .trigger-label {
 	bottom: -20px;
}
