/*
Base Name: Entrepreneur
Description: For the modern entrepreneur, this base embodies the current design trends of the web industry.
Author: Theme Blvd
Author URI: http://www.themeblvd.com
*/

/* =Top
-----------------------------------------------*/

.site-header {
	background: #ffffff;
	z-index: 900;
}
@media (min-width: 992px) {
	.header-content {
		height: 90px;
	}
}
@media (max-width: 767px) {
	.header-content {
		height: auto;
	}
}

/* BG parallax */
.site-header.tb-parallax {
	overflow: visible;
}
.site-header.tb-parallax .parallax-figure {
	overflow: hidden;
}

/* BG shade */
.site-header.has-bg-shade > .wrap > .bg-shade {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.site-header.has-bg-shade > .wrap > .header-top,
.site-header.has-bg-shade > .wrap > .header-above,
.site-header.has-bg-shade > .wrap > .header-content,
.site-header.has-bg-shade > .wrap > .header-nav {
	position: relative;
	z-index: 3;
}

/* BG slideshow */
.site-header.has-bg-slideshow {
	background: #000000;
}
.site-header.has-bg-slideshow > .wrap > .tb-bg-slideshow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.site-header.has-bg-slideshow > .wrap > .header-top,
.site-header.has-bg-slideshow > .wrap > .header-above,
.site-header.has-bg-slideshow > .wrap > .header-content,
.site-header.has-bg-slideshow > .wrap > .header-nav {
	position: relative;
	z-index: 2;
}

/* BG Video */
.site-header.has-bg-video > .tb-bg-video {
	z-index: 1;
}
.site-header.has-bg-video > .wrap > .header-top,
.site-header.has-bg-video > .wrap > .header-above,
.site-header.has-bg-video > .wrap > .header-content,
.site-header.has-bg-video > .wrap > .header-nav {
	position: relative;
	z-index: 2;
}

/* Header Content */
@media (min-width: 768px) {
	.header-content > .wrap {
		padding: 0;
	}
	.header-content .header-logo {
		padding: 10px 20px 10px 10px;
	}
	.rtl .header-content .header-logo {
		padding: 10px 10px 10px 20px;
	}
	.header-content .header-logo img {
		width: auto;
		height: 70px;
	}
}
@media (max-width: 767px) {
	.header-content .header-logo img {
		height: initial !important;
	}
}
.header-content .header-text-logo {
	padding: 31px 10px;
}
.header-content .header-text-logo.header_logo_has_tagline {
	padding: 22px 10px;
}
.header-content .header-text-logo .tb-text-logo {
	font-size: 28px;
	line-height: 1;
}
.header-content .header-text-logo .tagline {
	display: block;
	font-size: 13px;
	line-height: 1;
	margin-top: 5px;
}
@media (min-width: 768px) {
	.header-content .btn-navbar {
		right: 10px;
	}
	.rtl .header-content .btn-navbar {
		right: initial;
		left: 10px;
	}
	.header-content .btn-navbar.cart {
		right: 70px;
	}
	.rtl .header-content .btn-navbar.cart {
		right: initial;
		left: 70px;
	}
}

/* Primary Navigation (non-mobile view) */
.header-nav {
	background: transparent;
	float: right;
	padding-right: 10px;
}
.rtl .header-nav {
	float: left;
}
.header-nav .tb-primary-menu,
.header-nav .header-menu-addon {
	float: left;
}
.rtl .header-nav .tb-primary-menu,
.rtl .header-nav .header-menu-addon {
	float: right;
}
.header-nav .tb-primary-menu {
	position: static;
}

/* Level 1 */
.header-nav .tb-primary-menu > li {
	margin: 0 10px;
}
.header-nav .tb-primary-menu > li > .menu-btn {
	color: #666666;
	color: rgba(26,26,26,.7);
	font-size: 13px;
	line-height: 20px;
	padding: 35px 5px 35px 5px;
	position: relative;
	-webkit-transition: none;
	transition: none;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.header-nav .tb-primary-menu > li.current-menu-item > .menu-btn,
.header-nav .tb-primary-menu > li.current-menu-ancestor > .menu-btn,
.header-nav .tb-primary-menu > li > a:hover {
	background-color: transparent; /* Override default theme menu style */
}
.header-nav .tb-primary-menu > li > .menu-btn:before {
	content: "";
	position: absolute;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #fec527; /* highlight */
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	z-index: -1;
}
.header-nav .tb-primary-menu > li.current-menu-item > .menu-btn:before,
.header-nav .tb-primary-menu > li.current-menu-ancestor > .menu-btn:before,
.header-nav .tb-primary-menu > li > .menu-btn:hover:before {
	left: 0;
	right: 0;
}
@media (max-width: 1199px) {
	.header-nav .tb-primary-menu > li {
		margin: 0 5px;
	}
}
.header-nav .tb-primary-menu > li.menu-item-has-children > .menu-btn {
	padding-right: 2px;
}
.rtl .header-nav .tb-primary-menu > li.menu-item-has-children > .menu-btn {
	padding-left: 2px;
}

/* Level 2+ */
.tb-primary-menu ul.non-mega-sub-menu,
.tb-primary-menu .sf-mega {
	border: none;
	-webkit-box-shadow: 0 8px 15px rgba(0,0,0,0.1);
	box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}
.tb-primary-menu > li > ul.non-mega-sub-menu, /* 2nd level only */
.tb-primary-menu .sf-mega {
	border-top: 4px solid #1971af;
	margin-top: -4px;
}
.tb-sticky-menu .tb-primary-menu > li > ul.non-mega-sub-menu,
.tb-sticky-menu .tb-primary-menu .sf-mega {
	border-top: none;
	margin-top: 0;
}

/* Menu Addons */
.header-nav .tb-primary-menu > li.menu-search,
.header-nav .tb-primary-menu > li.menu-contact,
.header-nav .tb-primary-menu > li.menu-cart {
	margin: 0;
}
.header-nav .tb-primary-menu > li.menu-search > .tb-search-trigger,
.header-nav .tb-primary-menu > li.menu-contact > .tb-contact-trigger,
.header-nav .tb-primary-menu > li.menu-cart > .tb-cart-trigger {
	outline: none;
	padding-right: 8px;
	padding-left: 8px;
}
.header-nav .tb-primary-menu > li > .tb-search-trigger .fa,
.header-nav .tb-primary-menu > li > .tb-contact-trigger .fa,
.header-nav .tb-primary-menu > li > .tb-cart-trigger .fa {
	margin: 0;
	width: 1em;
	text-align: center;
}
.header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label {
	padding-right: 15px;
	padding-left: 10px;
}
.header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-2 {
	padding-right: 22px;
}
.header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-3 {
	padding-right: 30px;
}
.header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-4 {
	padding-right: 35px;
}
.header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-5 {
	padding-right: 43px;
}
.rtl .header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label {
	padding-right: 10px;
	padding-left: 15px;
}
.rtl .header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-2 {
	padding-left: 22px;
}
.rtl .header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-3 {
	padding-left: 30px;
}
.rtl .header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-4 {
	padding-left: 35px;
}
.rtl .header-nav .tb-primary-menu > li > .tb-cart-trigger.has-label.char-5 {
	padding-left: 43px;
}
.header-nav .tb-primary-menu > li > .tb-cart-trigger .trigger-label {
	top: 50%;
	left: 20px;
	margin-top: -2px;
}
.rtl .header-nav .tb-primary-menu > li > .tb-cart-trigger .trigger-label {
	right: 20px;
	left: initial;
}

/* Transparent Header */
.site-header.transparent {
	background-color: rgba(0,0,0,0.1);
}
.site-header.transparent > .wrap {
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.site-header.transparent .header-top {
	background-color: transparent;
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.site-header.transparent .header-nav,
.site-header.transparent .header-nav .tb-primary-menu > li > a:hover {
	background-color: transparent;
}
.site-header.transparent .header-nav .tb-primary-menu > li > .menu-btn,
.site-header.transparent .header-nav .tb-floater .floater-trigger {
	color: #ffffff; /* backup for older browsers */
	color: rgba(255,255,255,.9);
}
.site-header.transparent .header-nav .tb-primary-menu > li > .menu-btn:hover,
.site-header.transparent .header-nav .tb-floater .floater-trigger:hover {
	color: #ffffff;
}
.site-header.transparent .header-nav .tb-primary-menu > li > .menu-btn:before {
	background-color: #ffffff;
}
@media (min-width: 768px) {
	.site-header.transparent .btn-navbar {
		border: 1px solid rgba(0,0,0,.6);
	}
}

/* =Boxed Layout
-----------------------------------------------*/

.js-boxed #container {
	background: #ffffff;
	margin-right: auto;
	margin-left: auto;
	max-width: 1170px;
}
.js-boxed.content_dark #container {
	background: #222222;
}
@media (max-width: 1199px) {
	.js-boxed #container {
		max-width: 960px;
	}
}
@media (max-width: 991px) {
	.js-boxed #container {
		max-width: 720px;
	}
}
@media (max-width: 767px) {
	.js-boxed #container {
		max-width: 480px;
	}
}
.js-boxed .tb-sticky-menu {
	margin-left: -585px;
	max-width: 1170px;
	left: 50%;
}
@media (max-width: 1199px) {
	.js-boxed .tb-sticky-menu {
		margin-left: -480px;
		max-width: 960px;
	}
}
.js-boxed .tb-sticky-menu > .wrap {
	padding: 0 15px;
}
.js-boxed .header-top > .wrap,
.js-boxed .header-above > .wrap,
.js-boxed .header-content > .wrap,
.js-boxed .header-nav > .wrap,
.js-boxed .tb-floating-search > .wrap,
.js-boxed .tb-featured-banner > .wrap,
.js-boxed .site-breadcrumbs > .wrap,
.js-boxed .site-inner > .wrap,
.js-boxed .element-section > .element.no-popout,
.js-boxed .site-footer > .wrap {
	margin-right: 0;
	margin-left: 0;
	max-width: none;
}
.js-boxed .header-content > .wrap {
	padding-right: 15px;
	padding-left: 15px;
}
.js-boxed #breadcrumbs {
	padding: 30px 30px 0 30px;
}
.js-boxed #main {
	padding: 30px;
}
.js-boxed .footer-content {
	padding: 30px;
}
.js-boxed .footer-sub-content {
	padding: 20px 30px;
}
.js-boxed .footer-sub-content .tb-social-icons {
	right: 30px;
}
.js-boxed .site-footer > .wrap {
	padding: 0;
}

/* Floating Search */
.js-boxed .tb-floating-search > .wrap {
  padding: 0 20px;
}

/* Banner */
.js-boxed .tb-featured-banner .banner-content {
	padding: 0 40px;
}

/* Content Padding */
.js-boxed .blog-wrap > article,
.js-boxed article.single,
.js-boxed article.page,
.js-boxed .search-page,
.js-boxed .post_list.archive-loop,
.js-boxed .post_grid.archive-loop,
.js-boxed .post_showcase.archive-loop,
.js-boxed .list-template-wrap .list-wrap,
.js-boxed .grid-template-wrap .grid-wrap,
.js-boxed .showcase-template-wrap .showcase-wrap,
.js-boxed .tb-product-loop-wrap,
.js-boxed .tb-product-wrap {
	background-color: transparent;
	padding: 0 0 30px 0;
}

/* Info/Author Box and Comments */
.js-boxed .tb-info-box,
.js-boxed .tb-related-posts,
.js-boxed .products.upsells,
.js-boxed .products.related,
.js-boxed #comments,
.js-boxed .tb-naked-page .bbp-topic-form,
.js-boxed .tb-naked-page .bbp-reply-form {
	background: transparent;
	margin-bottom: 50px;
	padding: 0;
}

/* Blog */
.js-boxed .blog-wrap > article,
.js-boxed article.single {
	padding: 0;
}
.js-boxed .blog-wrap > article > .featured-item,
.js-boxed article.single > .featured-item {
	margin: 0 0 20px 0;
}

/* Breadcrumbs */
.js-boxed .breadcrumb {
	padding: 0 5px;
}

/* WooCommerce */
.js-boxed .tb-product-wrap {
	padding-bottom: 0;
}
.js-boxed .woocommerce-tabs .tabs {
	background-color: #f5f5f5;
	border: 1px solid #f2f2f2;
	border-color: rgba(220,220,220,.4);
}
.js-boxed .woocommerce-tabs .tabs > li {
	border-right: 1px solid #f2f2f2;
	border-right-color: rgba(220,220,220,.4);
}
.js-boxed.rtl .woocommerce-tabs .tabs > li {
	border-right: none;
	border-left: 1px solid #f2f2f2;
	border-left-color: rgba(220,220,220,.4);
}
.js-boxed.content_dark .woocommerce-tabs .tabs,
.js-boxed.content_dark .woocommerce-tabs .tabs > li {
	background-color: #151515;
	border-color: #000000;
}
.js-boxed .woocommerce-tabs .panel {
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 20px 5px;
}
