/* Custom Language Switcher */
.tb-wpml-switcher ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.tb-wpml-switcher a,
.tb-wpml-switcher a:hover,
.tb-wpml-switcher a:focus {
	color: inherit;
	text-decoration: none;
}
.tb-wpml-switcher .active {
	display: inline-block;
	line-height: 100%;
	padding: 0 5px;
}
.tb-wpml-switcher .active .fa {
	margin-left: 5px;
}
.rtl .tb-wpml-switcher .active .fa {
	margin-right: 5px;
	margin-left: 0;
}
.tb-wpml-switcher > ul > li {
	position: relative;
}
.tb-wpml-switcher .lang-sub-menu {
	display: none;
	padding: 10px 0 0 0;
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 100px;
	z-index: 999;
}
.rtl .tb-wpml-switcher .lang-sub-menu {
	right: 0;
	left: inherit;
}
.tb-wpml-switcher > ul > li:hover .lang-sub-menu {
	display: block;
}
.tb-wpml-switcher .lang-sub-menu li a {
	background: #ffffff;
	border: 1px solid #dddddd;
	border-bottom: none;
	display: block;
	line-height: 1;
	padding: 6px 8px;
}
.tb-wpml-switcher .lang-sub-menu li a:hover {
	background: #f2f2f2;
}
.tb-wpml-switcher .lang-sub-menu li:last-child a {
	border-bottom: 1px solid #dddddd;
}
.site-header.transparent .tb-wpml-switcher .lang-sub-menu li a {
	border-color: rgba(0,0,0,.5);
	background-color: rgba(0,0,0,.2)
}
.site-header.transparent .tb-wpml-switcher .lang-sub-menu li a:hover {
	background-color: rgba(0,0,0,.5);
}

/* Horizontal List */
#lang_sel_list ul > li > a {
	line-height: 25px;
	padding: 0 5px;
}
#lang_sel_list img.iclflag {
	top: 1px;
	width: 15px;
	height: 10px;
	vertical-align: initial;
}

/* Main Menu Switchter */
.menu-item-language img.iclflag {
	position: relative;
	top: 1px;
	vertical-align: initial;
}

/* Footer Switcher */
#lang_sel_footer {
	border: none;
}
#lang_sel_footer ul li img {
	top: 2px;
	vertical-align: initial;
}
