/* =Primary Layout
----------------------------------------------- */

#slider_blvd #optionsframework .metabox-holder { max-width: 780px; }
#slider_blvd #optionsframework, #slider_blvd #optionsframework .full-width { max-width: none; }
#slider_blvd #optionsframework .updated { max-width: none; }
#slider_blvd #optionsframework .inner-sidebar .section .heading { font-size: 1em; }
#slider_blvd #icon-tb_sliders { background-image: url('../../../assets/images/icons-32.png'); background-position: -70px -4px;}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5), 
		only screen and (-moz-min-device-pixel-ratio: 1.5), 
		only screen and (-o-min-device-pixel-ratio: 1.5), 
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
	#slider_blvd #icon-tb_sliders { background-image: url('../../../assets/images/icons-32_2x.png'); background-size: 120px 45px; }	
}

/* =Manage Slides
----------------------------------------------- */

#slider_blvd #edit_slider #titlediv { margin: 10px 0 10px 0; }
#slider_blvd #edit_slider #titlediv h2 { float: left; margin: 0 12px; }
#slider_blvd #edit_slider #titlediv .ajax-loading { display: none; float: left; margin: 9px 0 0 5px; visibility: visible; }
#slider_blvd #edit_slider #titlediv #add_new_slide { float: left; margin: 5px 0 0 0; }
#slider_blvd #edit_slider #slidesort { min-height: 200px; }
#slider_blvd #edit_slider .widget-content .pad { min-height: 250px; }
#slider_blvd #edit_slider .slide-set-type { background: #f7f7f7; border-bottom: 1px solid #dddddd; height: 40px; }
#slider_blvd #edit_slider .slide-set-type strong { float: left; margin: 14px 0 0 10px; }
#slider_blvd #edit_slider .slide-set-type select { float: right; margin: 8px 10px 0 0; }
#slider_blvd #edit_slider .slide-set-media { float: left; margin: 0 3% 0 0; width: 37%; }
#slider_blvd #edit_slider .widget { margin-bottom:10px; }
#slider_blvd #optionsframework .widget-content .controls input.upload_button,
#slider_blvd #optionsframework .widget-content .controls input.upload { float: none; width: 75px; }
#slider_blvd #optionsframework .widget-content .controls input.upload { width: 100%; }
#slider_blvd #optionsframework .widget-content .controls textarea { height: 200px; }
#slider_blvd #optionsframework .widget-content .controls td textarea { height: 80px; }
#slider_blvd #edit_slider .slide-include-elements { border-left: 1px solid #dddddd; float: left; width: 58%; }
#slider_blvd #edit_slider .slide-section { padding: 10px 0 10px 20px; }
#slider_blvd #optionsframework .screenshot { width: 100%; }
#slider_blvd #optionsframework .screenshot img { width: 90%; }
#slider_blvd #edit_slider .slide-set-media h3 { margin: 0; padding: 5px; }
#slider_blvd #edit_slider .slide-set-media .explain { color: #666; line-height: 150%; margin-top: 0; }
#slider_blvd #edit_slider .slide-include-elements h4 { margin: 0 0 10px 0; }
#slider_blvd #edit_slider .slide-include-elements h5 { font-size: 12px; margin: 0 0 7px 0; }
#slider_blvd #edit_slider .slide-include-elements .slide-element-check { width: 15px; text-align: center; vertical-align: middle; }
#slider_blvd #edit_slider .slide-include-elements .field { margin: 0 0 7px 0; padding: 5px 10px; }
#slider_blvd #edit_slider .slide-include-elements .slide-element-header { background: #f2f2f2; }
#slider_blvd #edit_slider .slide-include-elements .slide-element-options { display: none; }
#slider_blvd #edit_slider .slide-include-elements .widefat td { vertical-align: middle; }
#slider_blvd #edit_slider h4 { line-height: 1.5em; }
#slider_blvd #edit_slider .note { margin-top: 0; }
#slider_blvd #optionsframework .widget-content .controls input[type=checkbox] { margin-bottom: 0; }
#slider_blvd #optionsframework .inner-sidebar .section-radio label {  margin-bottom: 15px; width:80%; }
#slider_blvd #optionsframework .inner-sidebar .section-radio input.of-radio { margin-top: 2px; }
#slider_blvd #optionsframework .inner-sidebar .section-radio .heading { margin-bottom: 12px; }