/* =Bootstrap Mods
----------------------------------------------- */

body {
	color: #ffffff;
}
p small {
	color: #cccccc;
}
h6 {
	color: #cccccc;
}
.page-header {
	border-bottom-color: #000000;
}
hr {
	margin: 18px 0;
	border: 0;
	border-top-color: #000000;
	border-bottom-color: #333333;
}
.muted {
	color: #cccccc;
}
abbr[title] {
	border-bottom-color: #cccccc;
}
blockquote {
	border-left-color: #cccccc;
}
blockquote small {
	color: #cccccc;
}
blockquote.pull-right {
	border-right-color: #000000;
}
code,
pre {
	background-color: #000000;
	color: #cccccc;
}
.table th,
.table td {
	border-top-color: #000000;
}
.table tbody + tbody {
	border-top-color: #000000;
}
.table-bordered {
	border-color: #000000;
}
.table-bordered th,
.table-bordered td {
	border-left-color: #000000;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: #232323;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
	background-color: #141414;
}
legend {
	color: #cccccc;
	border-bottom-color: #000000;
}
legend small {
	color: #cccccc;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	color: #ffffff;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	background-color: #333333;
	border-color: #000000;
	-webkit-box-shadow: inset 0 0 0 #000;
	-moz-box-shadow: inset 0 0 0 #000;
	box-shadow: inset 0 0 0 #000;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #000000;
	-webkit-box-shadow: 0 0 8px #000000;
	-moz-box-shadow: 0 0 8px #000000;
	box-shadow: 0 0 8px #000000;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	background-color: #5f5f5f;
	border-color: #2e2e2e;
}
:-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
	color: #cccccc;
}
.btn-default,
.tb-button,
.comment-reply-link,
input[type="submit"] {
	background-color: #414141;
	background-image: -moz-linear-gradient(top, #555555, #222222);
	background-image: -ms-linear-gradient(top, #555555, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
	background-image: -webkit-linear-gradient(top, #555555, #222222);
	background-image: -o-linear-gradient(top, #555555, #222222);
	background-image: linear-gradient(top, #555555, #222222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
	border-color: #222222 #222222 #000000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #222222;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border-color: #000000;
	color: #ffffff;
	text-shadow: 1px 1px 0 #000000;
}
.btn-default:hover,
.btn-default:active,
.btn-default.active,
.btn-default.disabled,
.btn-default[disabled],
.tb-button:hover,
.comment-reply-link:hover,
input[type="submit"]:hover,
.tb-button:active, 
.comment-reply-link:active,
input[type="submit"]:active {
	background-color: #222222;
	*background-color: #151515;
	color: #ffffff;
}
.btn-default:active,
.btn-default.active {
	background-color: #000000 \9;
}
.nav > li > a:hover {
	background-color: #333333;
}
.nav-tabs {
	border-bottom-color: #000000;
}
.nav-tabs > li > a:hover {
	background-color: #454545;
	border-color: #000000;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
	color: #ffffff;
	background-color: #2c2c2c;
	border-color: #000000;
	border-bottom-color: transparent;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
	color: #ffffff;
	background-color: #454545;
}
.tab-content {
	background-color: #2c2c2c;
}
.nav-tabs.nav-stacked > li > a {
	border-color: #000000;
}
.tabs-stacked .open > a:hover {
	border-color: #000000;
}
.tabs-below > .nav-tabs {
	border-top-color: #000000;
}
.tabs-below > .nav-tabs > li > a:hover {
	border-bottom-color: #000000;
	border-top-color: #000000;
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover {
	border-color: transparent #000000 #000000 #000000;
}
.tabs-left > .nav-tabs {
	border-right-color: #000000;
}
.tabs-left > .nav-tabs > li > a:hover {
	border-color: #000000;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
	border-color: #000000 transparent #000000 #000000;
	*border-right-color: #000000;
}
.tabs-right > .nav-tabs {
	border-left-color: #000000;
}
.tabs-right > .nav-tabs > li > a:hover {
	border-color: #000000;
}
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover {
	border-color: #000000 #000000 #000000 transparent;
	*border-left-color: #000000;
}
.breadcrumb {
	-webkit-box-shadow: inherit;
	-moz-box-shadow: inherit;
	box-shadow: inherit;
}
.breadcrumb li {
	text-shadow: inherit;
}
.breadcrumb .divider {
	color: #cccccc;
}
.thumbnail,
.pretty,
.wp-caption {
	background-color: transparent;
 	border-color: #1e1e1e;
	-webkit-box-shadow: 0 1px 1px #1e1e1e;
	-moz-box-shadow: 0 1px 1px #1e1e1e;
	box-shadow: 0 1px 1px #1e1e1e;
}
a.thumbnail:hover,
.pretty:hover,
a.thumbnail:hover {
	background-color: transparent;
	border-color: #000000;
	-webkit-box-shadow: 0 1px 4px #000000;
	-moz-box-shadow: 0 1px 4px #000000;
	box-shadow: 0 1px 4px #000000;
}
.modal {
	color: #666666; /* Override new body color */
}
.accordion-group,
.accordion-inner {
 	border-color: #000000;
}
.widget_nav_menu .menu > li > a:hover {
	background-color: #1a1a1a;
	color: #ffffff;
}
.widget_nav_menu .menu .nav-header span {
	color: #ffffff;
}
.widget_nav_menu .menu > li > a,
.widget_nav_menu .menu .nav-header > span {
 	text-shadow: 1px 1px 1px #000000;
}
.widget_nav_menu .menu > .current-menu-item > a,
.widget_nav_menu .menu > .current-menu-item > a:hover {
 	background-color: #1a1a1a;
	color: #ffffff;
}
.widget_nav_menu .menu .divider,
.sf-menu li li.divider {
	background-color: #000000;
	border-bottom-color: #454545;
}
.widget_nav_menu div[class^="menu-"] {
	background-color: #333333;
	border: 1px solid #000000;
}

/* =Secondary Navigation
-------------------------------------------------------------- */

.subnav {
	background-color: #494949;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#333333));
	background-image: -webkit-linear-gradient(top, #494949, #333333);
	background-image: -moz-linear-gradient(top, #494949, #333333);
	background-image: -o-linear-gradient(top, #494949, #333333);
	background-image: -ms-linear-gradient(top, #494949, #333333);
	background-image: linear-gradient(top, #494949, #333333);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#494949', EndColorStr='#333333');
	border-color: #000000;
}
.subnav ul.nav > li > a,
.subnav ul.nav > li.nav-header > span {
	border-left: none;
	border-right-color: #000000;
	color: #ffffff;
	text-shadow: 0 0 0 #000000;
}
.subnav ul.nav > .current_page_item > a,
.subnav ul.nav > .current_page_item > a:hover {
	background-color: #333333;
	border-right-color: #000000;
}
.subnav li ul {
	background: #333333;
	border: 1px solid #000000;
}
.subnav li li a:hover {
	background: #494949;
}

/* =Common Classes
----------------------------------------------- */

.tb-loader {
	background: #242424 url('../images/elements/loader-dark.gif') center center no-repeat;
	-moz-box-shadow: 1px 1px 1px #000000;
	-webkit-box-shadow: 1px 1px 1px #000000;
	box-shadow: 0 0 2px #000000;
}

/* =Shortcodes
-------------------------------------------------------------- */

.accordion-heading .accordion-toggle:hover {
	background: #333333;
}

/* =Widgets
-------------------------------------------------------------- */

.tb-contact_widget ul.simple-contact li {
	background-image: url('../images/elements/simple-contact-ffffff.png');
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5), 
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5), 
		only screen and (min-device-pixel-ratio: 1.5) {
	/* Use 2x image for retina */
	.tb-contact_widget ul.simple-contact li {
		background-image: url('../images/elements/simple-contact-ffffff_2x.png');
	}
}

/* =Elements
-------------------------------------------------------------- */

.divider-dashed,
.divider-solid {
	border-color: #000000;
}
.slider-fallback li.slider-fallback-slide {
	border-color: #000000;
}
.standard-slider-wrapper .slides-wrapper {
	background: #222222;
}
.standard-slider-wrapper .flex-control-nav li a {
	background-image: url('../images/elements/slider-nav-dark.png');
}
.standard-slider-wrapper .flex-direction-nav li a {
	background-image: url('../images/elements/slider-arrows-dark.png');
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5), 
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 1.5), 
		only screen and (min-device-pixel-ratio: 1.5) {
	/* Slider controls - Use 2x image for retina */
	.standard-slider-wrapper .flex-control-nav li a {
		background-image: url('../images/elements/slider-nav-dark_2x.png');
		background-size: 20px 11px;
	}
	.standard-slider-wrapper .flex-direction-nav li a {
		background-image: url('../images/elements/slider-arrows-dark_2x.png');
		background-size: 32px 64px;
	}
}
.carrousel-slider-wrapper .roundabout-nav a {
	color: #cccccc;
}
.carrousel-slider-wrapper .roundabout-nav a:hover {
	color: #ffffff;
}
.tb-tabs-framed .tab-content {
	background: #333333;
	border-color: #000000;
}