/*
Base Name: Super User
Description: For the super user, this base builds on the default theme to give you more visual, user options.
Author: Theme Blvd
Author URI: http://www.themeblvd.com
*/

/* =Header
-----------------------------------------------*/

/* Header Top */
.tb-social-icons ul > li > a {
	text-shadow: none;
}

/* Header Addon */
.header-addon {
	margin-top: -12px;
	position: absolute;
	top: 50%;
	right: 20px;
}
.rtl .header-addon {
	right: initial;
	left: 20px;
}
.header-addon.header-addon-with-text {
	margin-top: -27px;
}
.header-addon .header-text {
	padding: 6px 0 0 0;
	text-align: right;
}
@media (max-width: 991px) {
	.header-addon {
		display: none;
	}
}

/* Header Logo */
@media (min-width: 992px) {
	.js-center-logo .header-content .header-logo {
		float: none;
		text-align: center;
	}
}
.js-center-logo .header-addon,
.js-center-logo .header-addon.header-addon-with-text {
	margin: 10px 0;
	position: static;
	text-align: center;
}
.js-center-logo .header-addon .header-top-nav {
	display: inline-block;
}
.js-center-logo .header-addon .header-text {
	float: none;
	text-align: center;
}

/* BG parallax */
.site-header.tb-parallax {
	overflow: visible;
}
.site-header.tb-parallax .parallax-figure {
	overflow: hidden;
}

/* BG video */
.site-header.has-bg-video {
	overflow: visible;
}
.site-header.has-bg-video .header-video {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
@media (max-width: 991px) {
	.site-header.has-bg-video .header-video {
		display: none;
	}
}

/* BG shade */
.site-header.has-bg-shade > .wrap > .bg-shade {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.site-header.has-bg-shade > .wrap > .header-top,
.site-header.has-bg-shade > .wrap > .header-above,
.site-header.has-bg-shade > .wrap > .header-content,
.site-header.has-bg-shade > .wrap > .header-nav {
	position: relative;
	z-index: 900; /* Help z-index drop down menus above elements below header */
}

/* BG slideshow */
.site-header.has-bg-slideshow {
	background: #000000;
}
.site-header.has-bg-slideshow > .wrap > .tb-bg-slideshow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.site-header.has-bg-slideshow > .wrap > .header-top,
.site-header.has-bg-slideshow > .wrap > .header-above,
.site-header.has-bg-slideshow > .wrap > .header-content,
.site-header.has-bg-slideshow > .wrap > .header-nav {
	position: relative;
	z-index: 900; /* Help z-index drop down menus above elements below header */
}

/* BG Video */
.site-header.has-bg-video > .tb-bg-video {
	z-index: 1;
}
.site-header.has-bg-video > .wrap > .header-top,
.site-header.has-bg-video > .wrap > .header-above,
.site-header.has-bg-video > .wrap > .header-content,
.site-header.has-bg-video > .wrap > .header-nav {
	position: relative;
	z-index: 900; /* Help z-index drop down menus above elements below header */
}

/* =Main Menu
-----------------------------------------------*/

/* Level 1 */
.header-nav {
	background-position: 0 -5px;
	background-repeat: repeat-x;
	background-size: 20px 58px;
}

/* Level 2+ */
.tb-primary-menu ul.non-mega-sub-menu,
.tb-primary-menu .sf-mega {
	border-color: rgba(0,0,0,.1);
}
.tb-primary-menu ul a:hover {
	background-color: rgba(0,0,0,.1);
}

/* Menu Search */
.tb-primary-menu .menu-search {
	float: right;
}
.rtl .tb-primary-menu .menu-search {
	float: left;
}
.tb-primary-menu .menu-search .tb-search-trigger {
	color: #ffffff;
	display: block;
	font-size: 14px;
	line-height: 1;
	padding: 18px 20px;
	width: auto;
	height: auto;
}
.tb-primary-menu .menu-search .tb-search-trigger:hover {
	background: #222222;
}
.tb-primary-menu .menu-search .tb-search-trigger .fa {
	width: 1em;
	text-align: center;
}
.tb-primary-menu .menu-search .fa {
	margin: 0;
}

/* Centered Menu */
.js-center-menu .tb-primary-menu {
	font-size: 0; /* Eliminate white space between inline buttons */
	text-align: center;
}
.js-center-menu .tb-primary-menu > li,
.js-center-menu .tb-primary-menu .menu-search {
	display: inline-block;
	float: none;
}
.js-center-menu .tb-primary-menu li {
	text-align: left;
}
.rtl.js-center-menu .tb-primary-menu li {
	text-align: right;
}

/* =Boxed Layout
-----------------------------------------------*/

.js-boxed #wrapper {
	padding: 20px 0;
}
@media (max-width: 480px) {
	.js-boxed #wrapper {
		padding: 0;
	}
}
.js-boxed #container {
	background: #ffffff;
	margin-right: auto;
	margin-left: auto;
	max-width: 1170px;
}
.js-boxed.content_dark #container {
	background: #222222;
}
@media (max-width: 1199px) {
	.js-boxed #container {
		max-width: 960px;
	}
}
@media (max-width: 991px) {
	.js-boxed #container {
		max-width: 720px;
	}
}
@media (max-width: 767px) {
	.js-boxed #container {
		max-width: 480px;
	}
}
.js-boxed .tb-sticky-menu {
	margin-left: -585px;
	max-width: 1170px;
	left: 50%;
}
@media (max-width: 1199px) {
	.js-boxed .tb-sticky-menu {
		margin-left: -480px;
		max-width: 960px;
	}
}
.js-boxed .tb-sticky-menu > .wrap {
	padding: 0 15px;
}
.js-boxed .header-top > .wrap,
.js-boxed .header-above > .wrap,
.js-boxed .header-content > .wrap,
.js-boxed .header-nav > .wrap,
.js-boxed .tb-floating-search > .wrap,
.js-boxed .tb-featured-banner > .wrap,
.js-boxed .site-breadcrumbs > .wrap,
.js-boxed .site-inner > .wrap,
.js-boxed .element-section > .element.no-popout,
.js-boxed .site-footer > .wrap {
	margin-right: 0;
	margin-left: 0;
	max-width: none;
}
.js-boxed .header-top > .wrap {
	padding: 12px 20px;
}
.js-boxed .header-top {
	padding: 0;
}
@media (min-width: 768px) {
	.js-boxed .header-content > .wrap {
		padding-right: 30px;
		padding-left: 30px;
	}
}
.js-boxed .header-addon {
	right: 30px;
}
.js-boxed.rtl .header-addon {
	right: initial;
	left: 30px;
}
.js-boxed #breadcrumbs {
	padding: 30px 30px 0 30px;
}
.js-boxed #main {
	padding: 30px;
}
.js-boxed .site-footer {
	padding: 30px;
}
.js-boxed .site-footer > .wrap {
	padding: 0;
}

/* Floating Search */
.js-boxed .tb-floating-search > .wrap {
  padding: 0 20px;
}

/* Banner */
.js-boxed .tb-featured-banner .banner-content {
	padding: 0 40px;
}

/* Content Padding */
.js-boxed .blog-wrap > article,
.js-boxed article.single,
.js-boxed article.page,
.js-boxed .search-page,
.js-boxed .post_list.archive-loop,
.js-boxed .post_grid.archive-loop,
.js-boxed .post_showcase.archive-loop,
.js-boxed .list-template-wrap .list-wrap,
.js-boxed .grid-template-wrap .grid-wrap,
.js-boxed .showcase-template-wrap .showcase-wrap,
.js-boxed .tb-product-loop-wrap,
.js-boxed .tb-product-wrap {
	background-color: transparent;
	padding: 0 0 30px 0;
}

/* Info/Author Box and Comments */
.js-boxed .tb-info-box,
.js-boxed .tb-related-posts,
.js-boxed .products.upsells,
.js-boxed .products.related,
.js-boxed #comments,
.js-boxed .tb-naked-page .bbp-topic-form,
.js-boxed .tb-naked-page .bbp-reply-form {
	background: transparent;
	margin-bottom: 50px;
	padding: 0;
}

/* Blog */
.js-boxed .blog-wrap > article,
.js-boxed article.single {
	padding: 0;
}
.js-boxed .blog-wrap > article > .featured-item,
.js-boxed article.single > .featured-item {
	margin: 0 0 20px 0;
}

/* Breadcrumbs */
.js-boxed .breadcrumb {
	padding: 0 5px;
}

/* WooCommerce */
.js-boxed .tb-product-wrap {
	padding-bottom: 0;
}
.js-boxed .woocommerce-tabs .tabs {
	background-color: #f5f5f5;
	border: 1px solid #f2f2f2;
	border-color: rgba(220,220,220,.4);
}
.js-boxed .woocommerce-tabs .tabs > li {
	border-right: 1px solid #f2f2f2;
	border-right-color: rgba(220,220,220,.4);
}
.js-boxed.rtl .woocommerce-tabs .tabs > li {
	border-right: none;
	border-left: 1px solid #f2f2f2;
	border-left-color: rgba(220,220,220,.4);
}
.js-boxed.content_dark .woocommerce-tabs .tabs,
.js-boxed.content_dark .woocommerce-tabs .tabs > li {
	background-color: #151515;
	border-color: #000000;
}
.js-boxed .woocommerce-tabs .panel {
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 20px 5px;
}
