/*
Base Name: Agent
Description: A modern and open, agency-style design with a bit less user options.
Author: Theme Blvd
Author URI: http://www.themeblvd.com
*/

/* =Layout
----------------------------------------------- */

body {
	background-color: #ffffff;
}
#top {
	position: relative;
	z-index: 2;
}
#main,
#custom-main {
	position: relative;
	z-index: 1;
}
@media (max-width: 767px) {
	.widgets-above-header > .wrap,
	.widgets-below-footer > .wrap,
	.site-breadcrumbs > .wrap,
	.site-inner > .wrap {
		max-width: 480px;
		padding-left: 40px;
		padding-right: 40px;
	}
}

/* Content */
/* @noflip */
.sidebar_left #content {
	padding-left: 40px;
}
/* @noflip */
.sidebar_right #content {
	padding-right: 40px;
}
@media (max-width: 1199px) {
	/* @noflip */
	.sidebar_left #content {
		padding-left: 30px;
	}
	/* @noflip */
	.sidebar_right #content {
		padding-right: 30px;
	}
}
@media (max-width: 991px) {
	/* @noflip */
	.sidebar_left #content {
		padding-left: 15px; /* restore bootstrap default */
	}
	/* @noflip */
	.sidebar_right #content {
		padding-right: 15px; /* restore bootstrap default */
	}
}

/* =Top
----------------------------------------------- */

@media (min-width: 992px) {
	.site-header {
		background-color: #101010; /* header bg */
	}
	.header-content > .wrap {
		height: 75px; /* 25px + {logo height} + 25px */
		padding-top: 0;
		padding-bottom: 0;
		position: relative;
		z-index: 2;
	}
	.site-header.stretch .header-content > .wrap {
		margin: 0;
		max-width: none;
	}
}

/* Logo */
@media (min-width: 992px) {
	.site-header .header-logo {
		max-width: 85px; /* logo width */
		position: absolute;
		top: 50%;
		-ms-transform: translate(0, -50%); /* IE9 */
		-webkit-transform: translate(0, -50%);
		transform: translate(0, -50%);
		z-index: 3;
	}
	.site-header .header-logo {
		left: 0;
	}
	.site-header.stretch .header-logo {
		left: 20px;
	}
	.rtl .site-header .header-logo {
		right: 0;
	}
	.rtl .site-header.stretch .header-logo {
		right: 20px;
	}
	.header-text-logo {
		padding: 0;
	}
	.header-text-logo .tb-text-logo {
		font-size: 18px;
		line-height: 1;
	}
	.header-text-logo .tagline {
		display: block;
		line-height: 1.2;
		padding: 4px 0 0 0;
	}
	.site-header.dark .tb-text-logo,
	.site-header.dark .tagline {
		color: #fff;
	}
	.tb-sticky-menu.dark .tb-text-logo {
  		color: #fff;
	}
}

/* Mobile Logo */
@media (max-width: 991px) {
	.site-header.mobile-light .header-text-logo .tb-text-logo {
		color: #333;
	}
}

/* Menu Container */
.header-nav {
	background: transparent;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	-ms-transform: translate(0, -50%); /* IE9 */
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: 2;
}
.header-nav > .wrap {
	margin: 0;
	max-width: none;
	width: auto;
}

/* Toolbar */
.header-toolbar {
	font-size: 16px;
	margin: 0;
	padding: 0 5px;
	position: relative;
}
.site-header .header-toolbar {
	float: right;
}
.site-header.stretch .header-toolbar {
	padding: 0 1em;
}
.rtl .site-header .header-toolbar {
	float: left;
}
.site-header.menu-center .header-toolbar {
	position: absolute;
	float: none;
}
.site-header.menu-center .header-toolbar {
	right: 0;
}
.rtl .site-header.menu-center .header-toolbar {
	right: auto;
	left: 0;
}
.site-header.stretch .header-toolbar:before {
	content: "";
	background-color: rgba(255,255,255,0.15);
	display: block;
	position: absolute;
	top: -14%;
	width: 1px;
	height: 75px; /* 25px + {logo height} + 25px */
}
.site-header.stretch .header-toolbar:before {
	left: 0;
}
.rtl .site-header.stretch .header-toolbar:before {
	right: 0;
}
.site-header.stretch.no-border .header-toolbar:before {
	display: none;
}
.header-toolbar li {
	display: block;
	float: left;
	padding: 10px 0;
	position: relative;
	text-align: center;
	width: 36px;
}
.rtl .header-toolbar li {
	float: right;
}
.header-toolbar li.top-side-panel {
	width: 38px;
}
.header-toolbar li a {
	color: rgba(255,255,255,.85);
	display: block;
	height: 38px;
}
.header-toolbar li a:hover {
	color: #ffffff;
}
.header-toolbar li a {
	line-height: 38px;
}
.header-toolbar .tb-side-trigger {
	height: 38px;
}
.header-toolbar .tb-side-trigger .hamburger {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%); /* IE9 */
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.header-toolbar .tb-cart-trigger .trigger-label {
	bottom: 4px;
	left: 22px;
}
.rtl .header-toolbar .tb-cart-trigger .trigger-label {
	right: 22px;
	bottom: -6px;
	left: auto;
}
.header-toolbar .tb-side-trigger .hamburger {
	width: 18px;
}
.header-toolbar .tb-side-trigger .hamburger span {
	background-color: rgba(255,255,255,.85);
}
.header-toolbar .tb-side-trigger:hover .hamburger span,
.header-toolbar .tb-side-trigger.collapse .hamburger span {
	background-color: #ffffff;
}
@media (min-width: 768px) {
	.site-header.light:not(.transparent) .header-toolbar:before {
		background-color: rgba(100,100,100,0.15);
	}
	.site-header.light:not(.transparent) .header-toolbar li a {
		color: rgba(34,34,34,.5);
	}
	.site-header.light:not(.transparent) .header-toolbar li a:hover {
		color: #222222;
	}
	.site-header.light:not(.transparent) .tb-side-trigger .hamburger span {
		background-color: rgba(34,34,34,.5);
	}
	.site-header.light:not(.transparent) .tb-side-trigger:hover .hamburger span,
	.site-header.light:not(.transparent) .tb-side-trigger.collapse .hamburger span {
		background-color: #222222;
	}
}

/* Menu */
.site-header .tb-primary-menu {
	padding: 0;
	position: static;
}
.site-header.stretch .tb-primary-menu {
	padding: 0 20px;
}
.site-header.menu-far .tb-primary-menu {
	float: right;
}
.rtl .site-header.menu-far .tb-primary-menu {
	float: left;
}
.site-header.menu-center .tb-primary-menu {
	text-align: center;
}
.site-header .tb-primary-menu > li {
	padding: 0 5px;
}
.site-header.menu-center .tb-primary-menu > li {
	display: inline-block;
	float: none;
}
.site-header .tb-primary-menu > li > .menu-btn {
	color: rgba(255,255,255,.85);
	line-height: 18px;
    padding: 20px 10px;
}
@media (max-width: 1199px) {
	.site-header .tb-primary-menu > li > .menu-btn {
		padding-right: 5px;
		padding-left: 5px;
	}
}
.site-header .tb-primary-menu > li > .menu-btn:hover {
	color: #ffffff;
}
.site-header .tb-primary-menu > li > .menu-btn,
.site-header .tb-primary-menu > li > .menu-btn:hover {
	background-color: transparent;
}
.site-header .tb-primary-menu li li {
	text-align: left;
}
.rtl .site-header .tb-primary-menu li li {
	text-align: right;
}
.site-header.light:not(.transparent) .tb-primary-menu > li > .menu-btn {
	color: rgba(34,34,34,.5);
}
.site-header.light:not(.transparent) .tb-primary-menu > li > .menu-btn:hover {
	color: #222222;
}

/* Menu: Level 2+ */
.drop-dark .tb-primary-menu ul.non-mega-sub-menu,
.drop-dark .tb-primary-menu .sf-mega {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.drop-dark .tb-primary-menu ul.sub-menu .menu-btn,
.drop-dark .tb-primary-menu .mega-section-header {
	color: #cccccc;
	color: rgba(255,255,255,.85);
}
.drop-dark .tb-primary-menu .mega-section-header,
.drop-dark .tb-primary-menu ul.sub-menu .menu-btn:hover {
	color: #ffffff;
}
.drop-light .tb-primary-menu ul.sub-menu .menu-btn,
.drop-light .tb-primary-menu .mega-section-header {
	color: #666666;
	color: rgba(34,34,34,.5);
}
.drop-light .tb-primary-menu .mega-section-header,
.drop-light .tb-primary-menu ul.sub-menu .menu-btn:hover {
	color: #222222;
}

/* Highlighted Menu Items */
.site-header .tb-primary-menu > li.highlight > a,
.site-header.transparent .header-nav .tb-primary-menu > li.highlight > a,
.tb-sticky-menu .tb-primary-menu > li.highlight > a,
.tb-side-panel li.highlight > a {
	border-radius: 1px;
}
.site-header .tb-primary-menu > li.highlight {
	padding: 8px 10px;
}
.site-header.dark .tb-primary-menu > li.highlight > .menu-btn,
.tb-sticky-menu.dark .tb-primary-menu > li.highlight > .menu-btn {
	border-color: #ffffff;
	color: #ffffff;
}
.site-header.dark .tb-primary-menu > li.highlight > .menu-btn:hover,
.tb-sticky-menu.dark .tb-primary-menu > li.highlight > .menu-btn:hover {
	background-color: #ffffff;
	border-color: transparent;
	color: #222222;
}
.site-header.light .tb-primary-menu > li.highlight > .menu-btn,
.tb-sticky-menu.light .tb-primary-menu > li.highlight > .menu-btn,
.tb-side-panel.light li.highlight > a {
	border-color: #222222;
	color: #222222;
}
.site-header.light .tb-primary-menu > li.highlight > .menu-btn:hover,
.tb-sticky-menu.light .tb-primary-menu > li.highlight > .menu-btn:hover,
.tb-side-panel.light li.highlight > a:hover {
	background-color: #222222;
	border-color: transparent;
	color: #ffffff;
}

/* Mobile Menu */
.tb-mobile-menu > li > .menu-btn {
	font-size: 14px;
}

/* Transparent Header */
@media (min-width: 768px) {
	.site-header.transparent.has-border:before {
		content: "";
		background-color: rgba(255,255,255,0.15);
		position: absolute;
		right: 0;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 1px;
	}
	.site-header.transparent .header-nav {
		background-color: transparent;
	}
	.site-header.transparent .header-nav .tb-primary-menu > li > a:hover {
		background-color: transparent;
	}
	.site-header.transparent.trans-light .tb-primary-menu > li > .menu-btn {
		color: #222222;
	}
	.site-header.transparent.trans-light .header-toolbar:before {
		background-color: rgba(100,100,100,0.15);
	}
	.site-header.transparent.trans-light .header-toolbar li a {
		color: #222222;
	}
	.site-header.transparent.trans-light .tb-side-trigger .hamburger span {
		background-color: rgba(34,34,34,.5);
	}
	.site-header.transparent.trans-light .tb-side-trigger:hover .hamburger span,
	.site-header.transparent.trans-light .tb-side-trigger.collapse .hamburger span {
		background-color: #222222;
	}
	.site-header.transparent .tb-primary-menu > li.highlight > .menu-btn {
		border-color: rgba(255,255,255,.85);
	}
	.site-header.transparent.trans-light .tb-primary-menu > li.highlight > .menu-btn {
		border-color: rgba(34,34,34,.5);
	}
	.site-header.transparent .tb-primary-menu > li.highlight.current-menu-item > .menu-btn,
	.site-header.transparent .tb-primary-menu > li.highlight.current-menu-ancestor > .menu-btn,
	.site-header.transparent .tb-primary-menu > li.highlight > .menu-btn:hover {
		background-color: #ffffff;
		border-color: transparent;
		color: #222222;
	}
	.site-header.transparent.trans-light .tb-primary-menu > li.highlight.current-menu-item > .menu-btn,
	.site-header.transparent.trans-light .tb-primary-menu > li.highlight.current-menu-ancestor > .menu-btn,
	.site-header.transparent.trans-light .tb-primary-menu > li.highlight > .menu-btn:hover {
		background-color: #222222;
		color: #ffffff;
	}
	.site-header.transparent .btn-navbar,
	.site-header.transparent .btn-navbar:hover {
		background-color: transparent;
	}
	.site-header.transparent.trans-dark .mobile-nav > li > a {
		color: #ffffff;
		color: rgba(255,255,255,.8);
	}
	.site-header.transparent.trans-dark .mobile-nav > li > a:hover {
		color: #ffffff;
	}
	.site-header.transparent.trans-dark .tb-nav-trigger .hamburger span {
		background-color: #ffffff;
		background-color: rgba(255,255,255,.8);
	}
	.site-header.transparent.trans-dark .tb-nav-trigger:hover .hamburger span,
	.site-header.transparent.trans-dark .tb-nav-trigger.collapse .hamburger span {
		background-color: #ffffff;
	}
}

/* Sticky Menu */
.tb-sticky-menu.stretch > .wrap {
	max-width: none;
	padding: 0 20px;
	width: auto;
}
.tb-sticky-menu.stretch .header-logo {
	left: 20px;
}
.rtl .tb-sticky-menu.stretch .header-logo {
	right: 20px;
	left: auto;
}
.tb-sticky-menu .tb-primary-menu > li > .menu-btn {
	font-size: 11px;
}
.tb-sticky-menu.dark .tb-primary-menu > li > .menu-btn {
	color: #ffffff;
}
.tb-sticky-menu.dark .tb-primary-menu > li:not(.highlight) > .menu-btn:hover {
	background-color: #000000;
	background-color: rgba(255,255,255,.1);
}

/* Side Panel */
.tb-side-panel.light .menu-btn,
.tb-side-panel.light .secondary-menu a {
	color: #666666;
	color: rgba(26,26,26,.7);
}
.tb-side-panel.light .menu-btn:hover,
.tb-side-panel.light .menu-btn:focus,
.tb-side-panel.light .secondary-menu a:hover,
.tb-side-panel.light .secondary-menu a:focus {
	color: rgba(26,26,26,.9);
}
.tb-side-panel.light .menu li.no-click > a:not(.submenu-toggle) {
	color: rgba(26,26,26,.7);
}
.tb-side-panel.light .submenu-toggle:hover {
	background-color: rgba(220,220,220,.5);
}
.tb-side-panel.light .submenu-toggle:before,
.tb-side-panel.light .submenu-toggle:after {
    background-color: #cccccc;
    background-color: rgba(26,26,26,.7);
}

/* Mobile Panel */
.tb-mobile-panel.light .tb-mobile-menu > li > .menu-btn,
.tb-mobile-panel.light .tb-mobile-menu > li > .menu-btn:hover,
.tb-mobile-panel.light .tb-mobile-menu > li > .menu-btn:focus,
.tb-mobile-panel.light .tb-mobile-menu > li > .menu-btn:active {
	color: rgba(26,26,26,.9);
}
.tb-mobile-panel.light .tb-mobile-menu > li > .menu-btn:hover,
.tb-mobile-panel.light .tb-mobile-menu > li > .menu-btn:focus,
.tb-mobile-panel.light .tb-mobile-menu > li > .menu-btn:active {
	background-color: rgba(220,220,220,.25);
}
.tb-mobile-panel.light .tb-search .search-input,
.tb-mobile-panel.light .tb-search.mini .search-submit,
.tb-mobile-panel.light li li a,
.tb-mobile-panel.light li li span,
.tb-mobile-panel.light .secondary-menu a,
.tb-mobile-panel.light .header-text,
.tb-mobile-panel.light .header-text a,
.tb-mobile-panel.light .tb-social-icons a {
	color: #666666; /* fallback */
	color: rgba(26,26,26,.7);
}
.tb-mobile-panel.light .tb-search.mini .search-submit:hover,
.tb-mobile-panel.light .tb-search.mini .search-submit:focus,
.tb-mobile-panel.light li li a:hover,
.tb-mobile-panel.light li li a:focus,
.tb-mobile-panel.light .secondary-menu a:hover,
.tb-mobile-panel.light .secondary-menu a:focus,
.tb-mobile-panel.light .header-text a:hover,
.tb-mobile-panel.light .header-text a:focus,
.tb-mobile-panel.light .tb-social-icons a:hover,
.tb-mobile-panel.light .tb-social-icons a:focus {
	color: rgba(26,26,26,.9);
}
.tb-mobile-panel.light .tb-mobile-menu > li {
	border-bottom-color: rgba(220,220,220,.5);
}
.tb-mobile-panel.light .tb-side-menu .sub-menu {
	background-image: url('../../framework/assets/img/parts/side-nav-list-outer-cccccc.png');
}
.tb-mobile-panel.light .tb-side-menu .sub-menu li {
	background-image: url('../../framework/assets/img/parts/side-nav-list-ltr-cccccc.png');
}
.tb-mobile-panel.light .tb-search {
	border-bottom-color: rgba(220,220,220,.5);
}
.tb-mobile-panel.light .tb-search.mini > form {
	background-color: rgba(220,220,220,.25);
}
.tb-mobile-panel.light .tb-search .search-input::-moz-placeholder {
	color: rgba(26,26,26,.25);
}
.tb-mobile-panel.light .tb-search .search-input:-ms-input-placeholder {
	color: rgba(26,26,26,.25);
}
.tb-mobile-panel.light .tb-search .search-input::-webkit-input-placeholder {
	color: rgba(26,26,26,.25);
}

/* Floating Language Selector */
.tb-lang-popup .modal-body {
	padding: 0;
}
.tb-lang-popup .modal-content {
	border-radius: 0;
}
.tb-lang-popup ul {
	margin: 0;
}
.tb-lang-popup li {
	border-bottom: 2px solid #e5e5e5;
}
.tb-lang-popup li:last-child {
	border-bottom: none;
}
.tb-lang-popup a,
.tb-lang-popup .active span {
	display: block;
	font-size: 20px;
	color: #666666;
	padding: 10px 15px;
}
.tb-lang-popup .active span {
	background-color: #f2f2f2;
	cursor: default;
}
.tb-lang-popup a:hover,
.tb-lang-popup a:focus {
	background-color: #2ea3f2; /* highlight */
	color: #ffffff;
}

/* =Breadcrumbs
----------------------------------------------- */

.site-breadcrumbs {
	background: #f8f8f8;
    font-size: 14px;
    margin: 0;
    padding: 32px 24px;
}
.breadcrumb {
	padding: 0;
}
@media (max-width: 767px) {
	.site-breadcrumbs {
		padding: 20px 0;
	}
}
.element-breadcrumbs .breadcrumb {
	padding: 0;
}
.breadcrumb a:not(:hover),
.breadcrumb > li+li:before {
	color: rgba(26,26,26,.4);
}
.breadcrumb > .active {
	color: rgba(26,26,26,.8);
}

/* =Main
----------------------------------------------- */

#main,
#custom-main,
#blank-page {
	background-color: #ffffff;
}
#main {
	padding: 60px 0;
}
.has-breadcrumbs #main {
    padding-top: 40px;
}
#main .bg-content {
	padding: 0;
}

/* =Bottom
----------------------------------------------- */

.site-footer.dark {
	color: rgba(255,255,255,0.9);
}
.site-footer.dark h1,
.site-footer.dark h2,
.site-footer.dark h3,
.site-footer.dark h4,
.site-footer.dark h5,
.site-footer.dark h6 {
	color: rgba(255,255,255,0.9);
}

/* Copyright */
.site-footer.copyright-dark .site-copyright {
	color: rgba(255,255,255,0.5);
}
.site-footer.copyright-light .site-copyright {
	color: rgba(34,34,34,0.5);
}
.site-footer .site-copyright.has-bg > .wrap {
	padding-top: 40px;
}
.site-footer .site-copyright a {
	color: inherit;
	border-bottom: 1px solid rgba(255,255,255,.5);
	padding-bottom: 1px;
}
.site-footer.copyright-light .site-copyright a {
	border-color: rgba(34,34,34,0.5);
}
.site-footer .site-copyright a:hover,
.site-footer .site-copyright a:focus {
	border-color: rgba(255,255,255,.8);
	color: rgba(255,255,255,0.8);
}
.site-footer.copyright-light .site-copyright a:hover,
.site-footer.copyright-light .site-copyright a:focus {
	border-color: rgba(34,34,34,.8);
	color: rgba(34,34,34,0.8);
}
.site-footer .site-copyright .tb-social-icons.light > li > a,
.site-footer .site-copyright .tb-social-icons.grey > li > a,
.site-footer .site-copyright .tb-social-icons.dark > li > a {
	border: none;
	font-size: 20px;
}

/* =Content
----------------------------------------------- */

.blog-wrap > article,
article.single,
article.page,
.tb-related-posts,
.products.upsells,
.products.related,
.cross-sells,
.tb-info-box,
.search-page,
.post_list.archive-loop .post-wrap,
.post_grid.archive-loop .post-wrap,
.post_showcase.archive-loop .post-wrap,
.list-template-wrap .list-wrap,
.grid-template-wrap .grid-wrap,
.showcase-template-wrap .showcase-wrap,
.fixed-sidebar .widget {
	background: transparent;
	padding: 0;
}
article.single .entry-header.has-meta .entry-title,
.blog-wrap > article > .entry-header.has-meta .entry-title {
	margin-bottom: 6px;
}
.blog-wrap > article,
article.single {
	margin-bottom: 60px;
}

/* Typography */
blockquote {
	border: none;
	color: #161616;
	font-size: 1.3em;
	font-style: italic;
	margin: 40px 30px;
	padding: 0;
}
@media (max-width: 767px) {
	blockquote,
	.entry-content blockquote {
		font-size: 1.1em;
	}
}
.text-light .entry-content blockquote {
	color: #ffffff;
}
blockquote cite,
blockquote small,
blockquote small:before {
	color: #999999;
  	color: rgba(26,26,26,.4);
	font-size: 12px;
	font-style: normal;
}
.text-light blockquote cite,
.text-light blockquote small,
.text-light blockquote small:before {
	color: #cccccc;
	color: rgba(255,255,255,.6);
}
::selection {
	color: #ffffff;
	background-color: #ea4b37; /* highlight */
}
::-moz-selection {
	color: #ffffff;
	background-color: #ea4b37; /* highlight */
}

/* Small Headers */
.tb-related-posts .related-posts-title,
.tb-info-box .info-box-title,
#comments-title,
#respond .comment-reply-title,
.tb-author-box .info-box-title,
.tb-wc-styles .woocommerce-tabs .panel h2,
.products.related > h2,
.products.upsells > h2,
.tb-bbp-styles #bbpress-forums fieldset.bbp-form legend,
.modal-title,
.tb-pricing-table .title,
.tb-icon-box .icon-box-title {
	font-size: .875rem;
}


/* Single Footer */
.tb-related-posts {
	margin: 60px 0 0 0;
}

/* Popout Galleries */
.tb-img-popout .site-inner.full_width .gallery {
	display: block;
	margin: 40px auto 40px -10%; /* - (1/2 * (120-100)) = -10 */
	max-width: none;
	max-width: 120%; /* 960 / 800 = 120% */
	width: 120%; /* 960 / 800 = 120% */
}
.tb-img-popout.rtl .site-inner.full_width .gallery {
	margin: 40px -10% 40px auto;
}
@media (max-width: 991px) {
	.tb-img-popout .site-inner.full_width .gallery {
		margin: 40px 0 30px 0;
		max-width: 100%;
		width: 100%;
	}
}

/* Forms */
.form-control,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
textarea,
select {
    border-radius: 2px;
    padding: 12px 14px;
    height: 46px;
}
textarea {
    height: auto;
}

/* =Comments
----------------------------------------------- */

/* Comment List */
#comments {
	background-color: transparent;
	margin-top: 60px;
	padding: 0;
}
#comments ul.children {
	border-left-width: 2px;
}
.rtl #comments ul.children {
	border-right-width: 2px;
}
#comments .comment-body .avatar {
	border-radius: 2px;
}
@media (min-width: 768px) {
	#comments ul.children .comment-body .avatar {
		border-radius: 7px;
		left: -46px;
	}
	.rtl #comments ul.children .comment-body .avatar {
		left: auto;
		right: -46px;
	}
}
#comments ol.commentlist {
	border-bottom: none;
    margin: 0 0 60px 0;
	padding: 0;
}
#comments p {
	margin-bottom: 15px;
}

/* Comment Form */
@media (min-width: 992px) {
	#respond label {
	    display: block;
	    font-size: 13px;
	}
	#respond .comment-form-author,
	#respond .comment-form-email,
	#respond .comment-form-url {
	    float: left;
	    width: 32%;
	}
	.comment-form-author, .comment-form-email {
    	margin-right: 2%;
	}
	#respond input[type="email"],
	#respond input[type="text"],
	#respond input[type="url"] {
		width: 100%;
	}
}

/* =Archives
----------------------------------------------- */

/* Archive Info Boxes */
.tb-info-box {
	background: #fafafa;
	border: 2px solid #f5f5f5;
	border-color: rgba(220,220,220,.3);
	font-size: 14px;
	border-radius: 3px;
	padding: 40px;
}
.tb-info-info .info-box-title{
	font-size: 1em;
	text-transform: uppercase;
}

/* Author Box (inherits from info box) */
.tb-author-box {
	position: relative;
}
.single .tb-author-box {
	margin: 60px 0 0 0;
}
@media (min-width: 768px) {
	.tb-author-box {
		padding: 40px 40px 40px 140px;
	}
	.rtl .tb-author-box {
		padding: 40px 140px 40px 40px;
	}
}
@media (max-width: 767px) {
	.single-post .tb-author-box {
		margin-top: 30px;
	}
}
.tb-author-box .inner {
	padding: 0;
	position: static;
}
.tb-author-box .avatar-wrap {
	top: 40px;
	left: 40px;
}
.rtl .tb-author-box .avatar-wrap {
	left: auto;
	right: 40px;
}
.tb-author-box .avatar-wrap img {
	border-radius: 2px;
}
.tb-author-box .info-box-title {
	font-size: 1em;
}
.tb-author-box .tb-social-icons.flat > li {
	padding: 0;
}
.tb-author-box .tb-social-icons > li > a {
	line-height: 1;
	font-size: 18px;
	padding: 10px 8px;
}
.tb-author-box .tb-social-icons > li:first-child > a {
	padding-left: 0;
}
.rtl .tb-author-box .tb-social-icons > li:first-child > a {
	padding-right: 0;
}

/* Search Results */
.tb-search-results .search-result-icon {
	border-radius: 7px; /* 5px white padding + 2px */
}
.tb-search-results .entry-meta .fa-clock-o {
	display: none;
}
.tb-search-results .search-result {
	border-width: 2px;
	border-color: rgba(220,220,220,.4);
}

/* =Parts
----------------------------------------------- */

/* Epic Thumb */
@media (max-width: 767px) {
	.epic-thumb .epic-thumb-header .entry-title {
		letter-spacing: 0;
	}
}

/* Mini Post List / Grid */
.tb-mini-post-grid img,
.tb-mini-post-grid .placeholder,
.tb-mini-post-list img,
.tb-mini-post-list .placeholder,
.product_list_widget li > a > img {
	border-radius: 2px;
}

/* Tooltips */
.tooltip {
	font-family: inherit;
}
.tooltip.in {
	filter: alpha(opacity=100);
	opacity: 1;
}
.tooltip-inner {
	background-color: #ea4b37; /* highlight */
	border-radius: 1px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	color: #ffffff;
	padding: 10px 14px;
}
.tooltip.top .tooltip-inner,
.tooltip.bottom .tooltip-inner {
	border: none;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #ea4b37; /* highlight */
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #ea4b37; /* highlight */
}

/* Pagination */
.pagination .btn {
	background-color: #f2f2f2;
	color: #666666;
}
.pagination .btn.active {
	background-color: #dddddd;
	color: #666666;
}
.pagination .btn:hover {
	color: #ffffff;
}

/* =Widgets
----------------------------------------------- */

/* General */
.widget {
	font-size: 15px;
	margin-bottom: 50px;
}
.widget:last-child {
	margin-bottom: 0;
}
.widget-title {
	font-size: 14px;
	margin: 0 0 1em 0;
}
.widget p {
	margin: 0 0 20px 0;
}
.widget p:last-child {
	margin-bottom: 0;
}

/* Fixed Sidebars */
@media (max-width: 992px) {
	.fixed-sidebar {
		margin-top: 40px;
	}
}
.fixed-sidebar .widget-title {
	font-size: 14px;
}
.tb-widget-bg .fixed-sidebar .widget {
	background: #f8f8f8;
	border-radius: 4px;
	font-size: 14px;
	margin-bottom: 30px;
	padding: 30px;
}
.tb-widget-bg .fixed-sidebar .widget-title {
	border-bottom: 2px solid #ffffff;
	font-size: 13px;
	margin: -30px -30px 20px -30px;
	padding: 20px 30px;
}

/* Footer */
.site-footer .widget {
	font-size: 14px;
}
#bottom .widget-title,
#custom-bottom .widget-title {
	font-size: 14px;
}

/* WP Tag Cloud */
.tb-tag-cloud .tagcloud a:hover {
	background: #36b3a8; /* highlight */
	color: #ffffff;
}

/* Tweeple */
.site-footer.dark .tweeple-feed .tweet-time a {
	color: rgba(255,255,255,.85);
}

/* =Forms & Buttons
----------------------------------------------- */

/* Buttons (match primary color) */
.btn:not(.tb-custom-button),
input[type="submit"],
input[type="reset"],
input[type="button"],
.button,
button {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-default,
input[type="submit"],
input[type="reset"],
input[type="button"],
.button,
button {
	background-color: #1b1b1b; /* primary */
	color: #ffffff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active:hover,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
.button:hover,
.button:focus,
.button:active,
button:hover,
button:focus,
button:active {
	background-color: #ea4b37; /* highlight */
	border: none;
	color: #ffffff;
}

/* =WooCommerce
----------------------------------------------- */

/* Single Product Wrap */
.tb-wc-styles .tb-product-wrap .product_meta {
	border-top: none;
	padding: 0;
}

/* Single Product Tabs */
.tb-wc-styles .woocommerce-tabs {
	margin-top: 60px;
}
.tb-wc-styles .woocommerce-tabs .tabs {
	margin: 0 0 20px 0;
}
.tb-wc-styles .woocommerce-tabs .tabs > li,
.tb-wc-styles .woocommerce-tabs .tabs > li.active {
	background-color: transparent;
	border: none;
	padding: 0 12px 0 0;
}
.tb-wc-styles .woocommerce-tabs .tabs > li > a,
.tb-wc-styles .woocommerce-tabs .tabs > li.active > a {
	background-color: transparent;
	border: 2px solid #f2f2f2;
	border-color: rgba(220,220,220,.4);
	border-radius: 1px;
	color: inherit;
	line-height: 1;
	font-size: 12px;
	padding: 8px 12px;
	-ms-transition: background-color .2s ease-out, border-color .2s ease-out;
	-webkit-transition: background-color .2s ease-out, border-color .2s ease-out;
	transition: background-color .2s ease-out, border-color .2s ease-out;
}
.tb-wc-styles .woocommerce-tabs .tabs > li > a:hover,
.tb-wc-styles .woocommerce-tabs .tabs > li > a:focus,
.tb-wc-styles .woocommerce-tabs .tabs > li.active > a {
	background-color: #36b3a8; /* highlight */
	border-color: transparent;
	color: #ffffff;
}
.tb-wc-styles .woocommerce-tabs .tabs > li.active > a,
.tb-wc-styles .woocommerce-tabs .tabs > li.active > a:hover,
.tb-wc-styles .woocommerce-tabs .tabs > li.active > a:focus {
	background-color: #1b1b1b; /* primary */
}
@media (max-width: 767px) {
	.tb-wc-styles .woocommerce-tabs .tabs {
		border: none;
	}
	.tb-wc-styles .tb-wc-styles .woocommerce-tabs .tabs > li,
	.tb-wc-styles .woocommerce-tabs .tabs > li.active {
		margin-bottom: 10px;
		padding: 0;
	}
	.tb-wc-styles .woocommerce-tabs .tabs > li:last-child {
		margin-bottom: 0;
	}
	.tb-wc-styles .woocommerce-tabs .tabs > li > a,
	.tb-wc-styles .woocommerce-tabs .tabs > li.active > a {
		font-size: 1.2em;
		padding: 14px 14px;
	}
}
.tb-wc-styles .woocommerce-tabs .panel {
	background: #fafafa;
	border: 2px solid #f5f5f5;
	border-color: rgba(220,220,220,.3);
	border-radius: 0 0 2px 2px;
	font-size: 14px;
	margin-bottom: 0;
	padding: 40px;
}

/* Reviews */
.tb-wc-styles #reviews #comments {
	margin-top: 0;
}
.tb-wc-styles #reviews #respond .comment-form-author,
.tb-wc-styles #reviews #respond .comment-form-email {
	width: 48%;
}
.tb-wc-styles #reviews #respond .comment-form-author {
	margin-right: 2%;
}
.tb-wc-styles #reviews #respond .comment-form-email {
	margin-right: 0;
}

/* Related/Upsell Products */
.tb-wc-styles .products.related,
.tb-wc-styles .products.upsells {
	margin-top: 60px;
}
.tb-wc-styles .products.related > h2,
.tb-wc-styles .products.upsells > h2 {
	font-size: 1rem;
}

/* Product Lists */
.tb-wc-styles .tb-product-loop-wrap.list-view li.product {
	margin-bottom: 50px;
}
.tb-wc-styles .tb-product-loop-wrap.list-view .tb-product h3 {
	font-size: 24px;
}
.tb-wc-styles .tb-product-loop-wrap.list-view .tb-product h3 a:not(:hover) {
	color: inherit;
}
.tb-wc-styles .tb-product-loop-wrap.list-view .tb-product .price {
	margin-bottom: 15px;
}
.tb-wc-styles .tb-product-loop-wrap.list-view li.product p {
	margin-bottom: 15px;
}

/* Shop Tables */
.tb-wc-styles .shop_table {
	background: #fafafa;
	border-width: 2px;
	border-color: #f2f2f2;
	border-radius: 2px;
}
.tb-wc-styles .shop_table th {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.tb-wc-styles .shop_table th:first-child {
	border-radius: 1px 0 0 0;
}
.tb-wc-styles .shop_table th:last-child {
	border-radius: 0 1px 0 0;
}
.tb-wc-styles .shop_table > thead > tr > th,
.tb-wc-styles .shop_table > tbody > tr > th,
.tb-wc-styles .shop_table > tfoot > tr > th,
.tb-wc-styles .shop_table > thead > tr > td,
.tb-wc-styles .shop_table > tbody > tr > td,
.tb-wc-styles .shop_table > tfoot > tr > td {
	border-color: #f2f2f2;
	border-width: 2px;
}

/* Dynamic select boxes */
@media (min-width: 768px) {
	.tb-wc-styles .select2-container .select2-choice {
		height: 46px;
		line-height: 46px;
	}
}

/* Cart */
.tb-wc-styles .cart_item .product-remove {
	border-width: 2px;
}
.tb-wc-styles .cart_totals {
	margin-top: 50px;
}
.tb-wc-styles .sidebar-layout-full_width .cart_totals {
	width: auto;
}
.tb-wc-styles .cart_totals table,
.tb-wc-styles .cart_totals th,
.tb-wc-styles .cart_totals tr {
	border-width: 2px;
	border-color: #f2f2f2;
}
.tb-wc-styles .cart_totals th {
	background: #fafafa;
}
.tb-wc-styles .shop_table.cart td.actions .coupon .input-text {
	height: 39px;
}

/* Checkout */
.tb-wc-styles .woocommerce-page .login .form-row {
	margin-bottom: 15px;
}
.tb-wc-styles .woocommerce-page .login .form-row .inline {
	font-size: 13px;
	padding-top: 8px;
}
.tb-wc-styles .checkout_coupon input[type="text"] {
 	height: 40px;
}
.tb-wc-styles .woocommerce #order_review tr > td.product-name,
.tb-wc-styles .woocommerce #order_review tfoot > tr > th {
	border-width: 2px;
}

/* Floating Cart */
.tb-wc-styles .tb-cart-popup .product_list_widget li,
.tb-wc-styles .tb-cart-popup .widget_shopping_cart .buttons {
	border-width: 2px;
}

/* =bbPress
----------------------------------------------- */

/* Forums */
.tb-bbp-styles #bbpress-forums ul.bbp-topics,
.tb-bbp-styles #bbpress-forums ul.bbp-forums {
	border-radius: 3px 3px 0 0;
	border-width: 2px;
}
.tb-bbp-styles #bbpress-forums li.bbp-header {
	border-radius: 1px 1px 0 0;
	border-width: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.tb-bbp-styles #bbpress-forums li.bbp-body ul.forum,
.tb-bbp-styles #bbpress-forums li.bbp-body ul.topic {
	border-width: 2px;
}

/* Lead Topic */
.tb-bbp-styles #bbpress-forums .tb-lead-topic > .wrap {
	border-radius: 3px 3px 0 0;
	border-width: 2px;
}
.tb-bbp-styles #bbpress-forums .tb-lead-topic .lead-topic-header {
	border-bottom-width: 2px;
	border-radius: 1px 1px 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.tb-bbp-styles #bbpress-forums .tb-lead-topic div.bbp-topic-header {
	border-width: 2px;
}

/* Reply */
.tb-bbp-styles #bbpress-forums ul.bbp-replies .bbp-reply-header {
	border-color: #f2f2f2;
	border-radius: 2px 2px 0 0;
	border-width: 2px;
}
.tb-bbp-styles #bbpress-forums div.reply {
	border-width: 2px;
}

/* Single Reply */
.tb-bbp-styles #bbpress-forums div.bbp-reply-header {
	border: 2px solid #f2f2f2;
	border-radius: 2px 2px 0 0;
	font-size: 14px;
	padding: 10px 15px;
}

/* Topic & Reply Form */
.tb-bbp-styles #bbpress-forums fieldset.bbp-form legend {
	font-size: 1rem;
}
.tb-bbp-styles .tb-naked-page .bbp-topic-form,
.tb-bbp-styles .tb-naked-page .bbp-reply-form {
	background: transparent;
	margin: 0;
	padding: 30px 0 0 0;
}

/* Login Form */
.tb-bbp-styles .bbp-login-form .bbp-username input,
.tb-bbp-styles .bbp-login-form .bbp-email input,
.tb-bbp-styles .bbp-login-form .bbp-password input {
	padding: 12px 14px;
}

/* User Details */
.tb-bbp-styles #bbpress-forums #bbp-single-user-details {
	border-width: 2px;
}

/* User Edit */
.tb-bbp-styles #bbpress-forums fieldset.bbp-form {
	background: #fafafa;
	border: 2px solid #f5f5f5;
	border-color: rgba(220,220,220,.3);
	font-size: 14px;
	border-radius: 3px;
	margin-bottom: 40px;
	padding: 40px;
}
.tb-bbp-styles #bbpress-forums .bbp-topic-form fieldset.bbp-form,
.tb-bbp-styles #bbpress-forums .bbp-reply-form fieldset.bbp-form {
	background: transparent;
	border: none;
	padding: 0;
}

/* =Gravity Forms
----------------------------------------------- */

.tb-gforms-styles .gform_wrapper .gform_footer input.button,
.tb-gforms-styles .gform_wrapper .gform_footer input[type=submit] {
  font-size: 11px;
}
