/*
Theme Blvd Framework

You can include this file within your theme's main rtl.css file.
@import url('framework/assets/css/rtl.css');
*/

/* Bootstrap RTL by Morteza Ansarinia */
/* https://github.com/morteza/bootstrap-rtl */
@import url('bootstrap-rtl.min.css');

/* Bootstrap Mods */
.widget_nav_menu .menu {
	margin-right: 0;
}
.widget_nav_menu .menu > .pull-right {
	float: left;
}
.widget_nav_menu .menu .fa {
	margin-left: 2px;
}
.widget_nav_menu .menu ul,
.fixed-sidebar .widget_nav_menu ul.sub-menu {
	margin-right: 10px;
}

/* WordPress Standard Classes */
.gallery-item {
	float: right;
}
.alignnone,
a img.alignnone,
.wp-caption.alignnone {
	margin: 5px 0 20px 20px;
}
@media (max-width: 767px) {
	.wp-caption.alignnone {
		margin-left: auto;
		margin-right: auto;
	}
}

/* Primary Navigation */
.sf-menu li {
	float: right;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: inherit;
	right: 0;
}
.sf-menu a.sf-with-ul {
	padding-right: inherit;
	padding-left: 2.25em;
}
.sf-sub-indicator {
	right: inherit;
	left: .75em;
	margin-right: 5px;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul,
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left: inherit;
	right: 10em;
}

/* Secondary Navigation */
.subnav ul.nav > .current_page_item > a,
.subnav ul.nav > .current_page_item > a:hover {
	padding-left: inherit;
	padding-right: 13px;
}
.subnav ul.nav > li:first-child > a,
.subnav ul.nav > li:first-child > a:hover,
.subnav ul.nav > li.nav-header:first-child > span {
	padding-left: inherit;
	padding-right: 12px;
}
.subnav ul.nav > li > a.sf-with-ul {
	padding-right: inherit;
	padding-left: 8px;
}
.subnav ul.nav > [class^="menu-icon-"] > a {
	padding-left: inherit;
	padding-right: 8px;
}

/* Common Classes */
.nav-previous,
.previous-image {
	float: right;
}
.nav-next,
.next-image {
	float: left;
	text-align: left;
}

/* Moveable Parts */
.themeblvd-contact-bar li {
	float: right;
}
.themeblvd-mini-post-list ul li .featured-image-wrapper {
	left: inherit;
	right: 0;
}
.themeblvd-mini-post-list ul.small-thumbs .mini-post-list-content {
	margin-left: inherit;
	margin-right: 155px;
}
.themeblvd-mini-post-list ul.smaller-thumbs .mini-post-list-content {
	margin-left: inherit;
	margin-right: 95px;
}
.themeblvd-mini-post-list ul.smallest-thumbs .mini-post-list-content {
	margin-left: inherit;
	margin-right: 70px;
}
.themeblvd-mini-post-grid ul.grid-align-left li {
	float: right;
}
.themeblvd-mini-post-grid ul.grid-align-right li {
	float: left;
}
.attachment-small {
	float: right;
	margin-right: inherit;
	margin-left: 20px;
}

/* Shortcodes */
.tb-icon-link [class^="icon-"] {
	margin-right: inherit;
	margin-left: 5px;
}

.info-box-has-icon {
	padding-left: inherit;
	padding-right: 36px;
}
.info-box .icon {
	left: inherit;
	right: 10px;
}
.dropcap {
	float: right;
	margin: .42em 0 0 58em;
}

/* Widgets */
#wp-calendar #prev {
	text-align: right;
}
#wp-calendar #next {
	text-align: left;
}
.tb-contact_widget ul.simple-contact li {
	padding: 0 30px 0 0;
}

/* Plugins */
div.wpcf7 input[type="text"],
div.wpcf7 select {
	margin-right: inherit;
	margin-left: 10px;
}
span.wpcf7-list-item {
	margin-left: inherit;
	margin-right: 0.5em;
}
div.wpcf7 img.ajax-loader {
	margin-left: 0;
	margin-right: 4px;
}

/* Elements */
.tb-slogan.has_button .btn {
	float: left;
	margin: 0 20px 0 0;
}
.tabs-left.tb-tabs-framed .nav-tabs {
	margin: 5px 0 0 -1px;
}

.tb-tweet-wrapper.has-icon {
	padding-left: inherit;
	padding-right: 70px;
}
.tb-tweet-wrapper .tweet-icon {
	left: inherit;
	right: 0;
}

/* Tweeple */
.tweeple-feed ul.tweets {
    margin-right: 0;
}

/* WPML Bridge */
.tb-wpml-flaglist ul li {
	float: right;
}

/* Header menu addon */
#access .tb-wpml-flaglist {
	float: left;
	padding: 12px 0 0 15px;
}
@media (max-width: 992px) {
	#access .tb-wpml-flaglist {
		padding: 13px 0 0 7px;
	}
}
@media (max-width: 767px) {
	#access .tb-wpml-flaglist {
		float: none;
	}
	#access .tb-wpml-flaglist li {
		float: none;
	}
}

/* Breadcrumbs */
#breadcrumbs .tb-wpml-breadcrumbs .breadcrumbs-content {
	float: right;
}
#breadcrumbs .tb-wpml-breadcrumbs .tb-wpml-flaglist {
	float: left;
}
@media (max-width: 767px) {
	/* Mobile */
	#breadcrumbs .tb-wpml-breadcrumbs .breadcrumbs-content,
	#breadcrumbs .tb-wpml-breadcrumbs .tb-wpml-flaglist {
		float: none;
	}
}