/**
 * Table of Contents:
 *
 * 1.0 - Primary Structure
 * 2.0 - Top
 *   2.1 - Header Top
 *   2.2 - Header Content
 *   2.3 - Primary Navigation (non-mobile view)
 *   2.4 - Level 1
 *   2.5 - Level 2+
 *   2.6 - Sticky Menu
 *   2.7 - Hidden Responsive Side Menu
 *   2.8 - Transparent Header
 * 3.0 - Main
 * 4.0 - Bottom
 * 5.0 - Content
 *   5.1 - Typography
 *   5.2 - Content Background
 *   5.3 - Primary Color
 *   5.4 - Posts
 *   5.5 - Pages
 *   5.6 - Titles
 *   5.7 - Meta
 *   5.8 - Sub Meta
 *   5.9 - Post Formats
 *   5.10 - Related Posts
 *   5.11 - Edit Link
 * 6.0 - Comments
 *   6.1 - Comment List
 *   6.2 - Admin Comment
 *   6.3 - Children
 *   6.4 - Comment Form
 *   6.5 - Comment Form (in reply)
 * 7.0 - Archives
 *   7.1 - Archive Info and Author Box
 *   7.2 - Search Results
 *   7.3 - Posts Wrap
 * 8.0 - Page Templates
 *   8.1 - Post List
 *   8.2 - Post Grid
 *   8.3 - Post Showcase
 *   8.4 - Blank Page
 *   8.5 - Custom Layout
 * 9.0 - Widgets
 *   9.1 - Fixed Sidebars
 *   9.2 - Collapsible Widget Areas
 * 10.0 - Responsive
 *   10.1 - Small Desktops
 *   10.2 - Tablets
 *   10.3 - Mobile
 ----------------------------------------------- */

/* =Primary Structure
----------------------------------------------- */

.header-top > .wrap,
.header-above > .wrap,
.header-content > .wrap,
.header-nav > .wrap,
.tb-sticky-menu > .wrap,
.tb-featured-banner > .wrap,
.site-inner > .wrap,
.element-section > .element,
.site-footer > .wrap {
	margin-right: auto;
	margin-left: auto;
	max-width: 1170px;
}

/* =Top
----------------------------------------------- */

.site-header {
	background: #f5f5f5;
	position: relative;
}

/* Header Top */
.header-top {
	background: #ffffff;
	position: relative;
}
.header-top > .wrap {
	padding: 12px 10px;
}
.header-text {
	float: left;
	line-height: 24px; /* Match height of social icons */
}
.header-top-nav {
	margin: 0;
}
.header-top-nav > li {
	float: right;
	border-right: 1px solid #dddddd;
	padding: 0 8px;
}
.header-top-nav > li:first-child {
	border-right: none;
	padding-right: 0;
}
.btn-navbar {
	background: #333333;
	color: #ffffff;
	padding: 15px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.btn-navbar:hover {
	background: #000000;
	color: #ffffff;
}

/* Header Content */
.header-content > .wrap {
	padding: 20px;
	position: relative;
}
.header-content .header-logo {
	float: left;
}

/* Primary Navigation (non-mobile view) */
.header-nav {
	background: #333333;
}
.tb-primary-menu .menu-btn {
	display: block;
	line-height: 1;
}
.tb-primary-menu .menu-btn,
.tb-primary-menu .menu-btn:hover {
	text-decoration: none;
}

/* Level 1 */
.tb-primary-menu > li > .menu-btn {
	color: #ffffff;
	font-size: 14px;
	padding: 18px 20px;
}
.tb-primary-menu > li > a:hover {
	background: #222222;
}
/* @noflip */
.tb-primary-menu > li.menu-item-has-children > .menu-btn {
	padding-right: 10px;
}

/* Level 2+ */
.tb-primary-menu ul.non-mega-sub-menu,
.tb-primary-menu .sf-mega {
	background: #ffffff;
	border: 1px solid #dddddd;
}
.tb-primary-menu > li > ul.non-mega-menu { /* Level 2 only */
	border-top: none;
}
.tb-primary-menu ul .menu-btn,
.tb-primary-menu .mega-section-header {
	color: #666666;
	font-size: 13px;
	padding: 12px;
}
.tb-primary-menu ul a:hover {
	background: #f5f5f5;
}

/* Sticky Menu */
.tb-sticky-menu .tb-primary-menu > li > .menu-btn:hover {
	background: #f8f8f8;
}

/* Hidden Responsive Side Menu */
#tb-side-menu-wrapper,
#tb-side-menu-wrapper .tb-side-menu,
#tb-side-menu-wrapper .tb-side-menu .sub-menu li.non-mega-sub-menu:last-child {
	background-color: #333333;
}
#tb-side-menu-wrapper {
	border-right: 1px solid #000000;
}
#tb-side-menu-wrapper .tb-side-menu a,
#tb-side-menu-wrapper .tb-side-menu span,
#tb-side-menu-wrapper .header-text {
	color: #ffffff;
}
#tb-side-menu-wrapper .tb-side-menu a:hover,
#tb-side-menu-wrapper .tb-side-menu a:active {
	text-decoration: underline;
}
#tb-side-menu-wrapper .tb-side-menu .tb-side-menu-toggle {
	color: #cccccc;
}
#tb-side-menu-wrapper .tb-side-menu .tb-side-menu-toggle:hover,
#tb-side-menu-wrapper .tb-side-menu .tb-side-menu-toggle:active {
	color: #ffffff;
}
#tb-side-menu-wrapper .tb-side-menu > li {
	border-bottom: 1px solid #000000;
}
#tb-side-menu-wrapper .tb-side-menu .sub-menu {
	background-image: url('../../framework/assets/images/parts/side-nav-list-outer-000000.png');
}
#tb-side-menu-wrapper .tb-side-menu .sub-menu li {
	background-image: url('../../framework/assets/images/parts/side-nav-list-ltr-000000.png');
}
#tb-side-menu-wrapper .tb-search {
	border-bottom: 1px solid #000000;
}
#tb-side-menu-wrapper .tb-search .search-input {
	color: #ffffff;
}

/* Transparent Header */
.site-header.transparent {
	background-color: transparent;
}
.site-header.transparent .header-top {
	background-color: rgba(0,0,0,.2);
}
.site-header.transparent .header-top-nav > li {
	border-color: rgba(0,0,0,.4);
}
.site-header.transparent .header-nav {
	background-color: rgba(0,0,0,.2);
}
.site-header.transparent .tb-primary-menu > li > a:hover {
	background-color: rgba(0,0,0,.4);
}
.site-header.transparent .btn-navbar {
	background-color: transparent;
}
.site-header.transparent .btn-navbar:hover {
	background-color: rgba(0,0,0,.4);
}

/* =Main
----------------------------------------------- */

#main {
	padding: 20px 0;
}

/* =Bottom
----------------------------------------------- */

.footer-sub-content {
	font-size: 12px;
	padding: 20px 0;
	text-align: center;
}
.footer-sub-content p {
	margin-bottom: 10px;
}
.footer-sub-content ul {
	margin: 0;
}

/* =Layouts
----------------------------------------------- */

/* =Content
----------------------------------------------- */

/* Typography */
html,
body {
	background: #f5f5f5;
	color: #666666;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
	color: #333333;
	font-weight: bold;
	line-height: 1.1;
	margin-top: 10px;
	margin-bottom: 20px;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 13px;
}
h6 {
	font-size: 11px;
}
a {
	color: #428bca;
	text-decoration: none;
}
a:hover,
.entry-title a:hover,
#comments .comment-body .comment-meta a:hover {
	color: #2a6496;
	text-decoration: underline;
}
.tb-text-logo a:hover,
.entry-title a:hover {
	text-decoration: none;
}
p {
	margin-bottom: 20px;
}

/* Content Background */
.bg-content {
	background: #ffffff;
	padding: 30px;
}

/* Primary Color */
.primary,
.bg-primary,
.btn-primary,
.label-primary,
.panel-primary > .panel-heading {
	background-color: #333333;
	border-color: #000000;
	color: #ffffff;
}
.primary:hover,
.primary:focus,
a.bg-primary:hover,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.label-primary[href]:hover,
.label-primary[href]:focus {
	background-color: #222222;
	border-color: #000000;
	color: #ffffff;
}
.panel-primary {
	border-color: #000000;
}

/* Posts */
.blog-wrap > article,
article.single {
	background: #ffffff;
	margin-bottom: 30px;
	padding: 30px;
}
.loop-shortcode > .blog-wrap > article {
	background: transparent;
	padding: 0;
}
.content_dark .blog-wrap > article,
.content_dark article.single {
	background: #2c2c2c;
}

/* Pages */
article.page {
	background: #ffffff;
	padding: 30px;
}

/* Titles */
.entry-title {
	margin: 0 0 10px 0;
}
.entry-title-with-meta {
	margin: 0;
}
.entry-title a {
	color: inherit;
	text-decoration: none;
}

/* Meta */
.entry-meta {
	font-size: 12px;
	margin: 5px 2px 15px 2px;
}
.entry-meta .fa {
	padding-right: 4px;
}
.entry-meta .sep {
	font-weight: normal;
	padding: 0 7px;
}

/* Sub Meta */
.sub-meta {
	margin: 20px 0 0 0;
}
.sub-meta .tb-share {
	margin-bottom: 5px;
}
.sub-meta .title:after {
	content: " ";
}

/* Post Formats */
.entry-title a .fa {
	font-size: .7em;
}

/* Related Posts */
.tb-related-posts > .inner {
	background: #ffffff;
	padding: 30px;
}
.tb-related-posts .related-posts-title {
	font-size: 20px;
	margin: 0 0 10px 10px;
}

/* Edit Link */
.edit-link {
	margin: 10px 0 0 0;
}

/* =Comments
----------------------------------------------- */

/* Comment List */
#comments ol,
#comments ul {
	list-style: none;
	padding: 0;
}
#comments ol.commentlist {
	margin: 0 0 30px 0;
}
#comments li {
	margin: 5px 0;
}
#comments-title {
	font-size: 20px;
	margin: 0 0 10px 10px;
}
#comments .comment-body {
	background: #ffffff;
	padding: 30px;
	padding-left: 98px;
	position: relative;
}
#comments .comment-body .avatar {
	position: absolute;
	top: 30px;
	left: 30px;
}
#comments .comment-author {
	line-height: 1;
}
#comments .comment-body .says {
	display: none;
}
#comments .comment-body .comment-meta {
	margin-bottom: 10px;
}
#comments .comment-body .comment-meta a {
	color: inherit;
	font-size: 12px;
}
#comments .comment-body .fn {
	display: block;
	font-style: normal;
	font-weight: bold;
	margin-top: 5px;
}

/* Admin Comment */
#comments .bypostauthor > .comment-body,
#comments .bypostauthor > .comment-body .reply a {
	/* None in this theme */
}
#comments .bypostauthor > .comment-body .reply a:hover {
	/* None in this theme */
}

/* Children */
#comments ul.children {
	border-left: 1px solid #dddddd;
	margin: 10px 0 10px 15px;
	padding: 10px 0 10px 20px;
}

/* Comment Form */
#respond #commentform {
	background: #ffffff;
	padding: 30px;
}
#respond .comment-reply-title {
	font-size: 20px;
	margin: 0 0 10px 10px;
}
#respond label {
	display: block;
}
#respond input[type="email"],
#respond input[type="text"],
#respond input[type="url"] {
	width: 50%;
}
#respond .form-allowed-tags {
	margin-bottom: 5px;
}

/* Comment Form (in reply) */
.comment #respond {
	background: #ffffff;
	padding: 30px;
	margin-top: 5px;
}
.comment #respond #commentform {
	background: transparent;
	padding: 0;
}
.comment #respond .comment-reply-title {
	margin: 0 0 20px 0;
}

/* =Archives
----------------------------------------------- */

/* Archive Info and Author Box (single post and archives) */
.tb-info-box {
	background: #ffffff;
	padding: 30px;
}

/* Search Results */
.search-page {
	background: #ffffff;
	padding: 30px;
}

/* Posts Wrap */
.post_list.archive-loop,
.post_grid.archive-loop,
.post_showcase.archive-loop {
	background: #ffffff;
	padding: 30px;
}

/* =Page Templates
----------------------------------------------- */

/* Post List */
.list-template-wrap .list-wrap {
	background: #ffffff;
	padding: 30px;
}

/* Post Grid */
.grid-template-wrap .grid-wrap {
	background: #ffffff;
	padding: 30px;
}

/* Post Showcase */
.showcase-template-wrap .showcase-wrap {
	background: #ffffff;
	padding: 30px;
}
.showcase-template-wrap .tb-sort-nav {
	padding: 0 10px 5px 10px;
}

/* Blank Page */
#blank-page {
	text-align: center;
}

/* Custom Layout */
.element-section > .element.bg-content,
.element-columns .element.bg-content {
	background: #ffffff;
	padding: 30px;
}

/* =Widgets
----------------------------------------------- */

/* Fixed Sidebars */
.fixed-sidebar .widget {
	background: #ffffff;
	margin-bottom: 30px;
	padding: 30px;
}
.fixed-sidebar .widget-title {
	margin-top: 0;
}

/* Collapsible Widget Areas */
/* ... */

/* =Responsive
----------------------------------------------- */

/* Small Desktops */
@media (max-width: 1200px) {

	.header-top > .wrap,
	.header-above > .wrap,
	.header-content > .wrap,
	.header-nav > .wrap,
	.tb-sticky-menu > .wrap,
	.tb-featured-banner > .wrap,
	.site-inner > .wrap,
	.element-section > .element,
	.site-footer > .wrap {
		max-width: 960px;
	}

	/* Top */
	.tb-primary-menu > li > .menu-btn {
		padding: 18px 15px;
	}
	.tb-primary-menu > li.menu-item-has-children > .menu-btn {
		padding-right: 7px;
	}

}

/* Tablets */
@media (max-width: 992px) {

	.header-top > .wrap,
	.header-above > .wrap,
	.header-content > .wrap,
	.header-nav > .wrap,
	.tb-featured-banner > .wrap,
	.site-inner > .wrap,
	.element-section > .element,
	.site-footer > .wrap {
		max-width: 738px;
	}

	/* Top */
	.header-top {
		margin: 0 auto;
		padding-left: 50px;
	}
	.tb-primary-menu > li > .menu-btn {
		padding: 18px 10px;
	}
	.tb-primary-menu > li.menu-item-has-children > .menu-btn {
		padding-right: 5px;
	}

	/* Main */
	.breadcrumb {
		font-size: 12px;
		margin-bottom: 0;
	}
	#content {
		margin-bottom: 30px;
	}

}

/* Mobile Devices */
@media (max-width: 767px) {

	.header-above > .wrap,
	.header-content > .wrap,
	.header-nav > .wrap,
	.tb-featured-banner > .wrap,
	.site-inner > .wrap,
	.element-section > .element,
	.site-footer > .wrap {
		max-width: 480px;
		padding-left: 15px;
		padding-right: 15px;
	}

	/* Top */
	.header-top {
		display: none;
	}
	.header-content {
		padding-right: 40px;
		padding-left: 40px;
		text-align: center;
	}
	.header-content .header-logo {
		float: none;
	}
	#access > .wrap {
		display: none;
	}
	#primary-menu-toggle {
		display: block;
	}

	/* Main */
	.breadcrumb {
		display: none;
	}

	/* Content */
	#featured-banner {
		margin-bottom: 20px;
	}

	/* Comments */
	#respond input[type="email"],
	#respond input[type="text"],
	#respond input[type="url"] {
		width: 100%;
	}

}