/*
Base Name: Executive
Description: For the confident, experienced executive, this base gives you a design you're familiar with, for success.
Author: Theme Blvd
Author URI: http://www.themeblvd.com
*/

/* =Header
-----------------------------------------------*/

.header-nav {
	margin: 0 auto;
	max-width: 1150px;
}
@media (max-width: 1199px) {
	.header-nav {
		max-width: 940px;
	}
}
@media (min-width: 992px) {
	.site-header > .wrap {
		padding-bottom: 20px;
	}
}

/* Header Addon */
.header-addon {
	margin-top: -12px;
	position: absolute;
	top: 50%;
	right: 20px;
}
.rtl .header-addon {
	right: initial;
	left: 20px;
}
.header-addon.header-addon-with-text {
	margin-top: -27px;
}
.header-addon .header-text {
	padding: 6px 0 0 0;
	text-align: right;
}
@media (max-width: 991px) {
	.header-addon {
		display: none;
	}
}

/* Header Logo */
@media (min-width: 992px) {
	.js-center-logo .header-content .header-logo {
		float: none;
		text-align: center;
	}
}
.js-center-logo .header-addon,
.js-center-logo .header-addon.header-addon-with-text {
	margin: 10px 0;
	position: static;
	text-align: center;
}
.js-center-logo .header-addon .header-top-nav {
	display: inline-block;
}
.js-center-logo .header-addon .header-text {
	float: none;
	text-align: center;
}

/* BG shade */
.site-header.has-bg-shade > .wrap > .bg-shade {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.site-header.has-bg-shade > .wrap > .header-top,
.site-header.has-bg-shade > .wrap > .header-above,
.site-header.has-bg-shade > .wrap > .header-content,
.site-header.has-bg-shade > .wrap > .header-nav {
	position: relative;
	z-index: 900; /* Help z-index drop down menus above elements below header */
}

/* BG slideshow */
.site-header.has-bg-slideshow {
	background: #000000;
}
.site-header.has-bg-slideshow > .wrap > .tb-bg-slideshow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.site-header.has-bg-slideshow > .wrap > .header-top,
.site-header.has-bg-slideshow > .wrap > .header-above,
.site-header.has-bg-slideshow > .wrap > .header-content,
.site-header.has-bg-slideshow > .wrap > .header-nav {
	position: relative;
	z-index: 900; /* Help z-index drop down menus above elements below header */
}

/* BG Video */
.site-header.has-bg-video > .tb-bg-video {
	z-index: 1;
}
.site-header.has-bg-video > .wrap > .header-top,
.site-header.has-bg-video > .wrap > .header-above,
.site-header.has-bg-video > .wrap > .header-content,
.site-header.has-bg-video > .wrap > .header-nav {
	position: relative;
	z-index: 900; /* Help z-index drop down menus above elements below header */
}

/* Search Popup */
.tb-search-popup .search-popup {
	border-color: rgba(0,0,0,.2);
}
.tb-search-popup.bottom.left .search-popup > .arrow {
    border-bottom-color: rgba(0,0,0,.2);
}
.tb-search-popup.bottom.right .search-popup > .arrow {
    border-bottom-color: rgba(0,0,0,.2);
}
.tb-search-popup.top.left .search-popup > .arrow {
    border-top-color: rgba(0,0,0,.2);
}
.tb-search-popup.top.right .search-popup > .arrow {
    border-top-color: rgba(0,0,0,.2);
}

/* Transparent Header */
.site-header.transparent .tb-primary-menu .menu-search .search-trigger:hover {
	background-color: rgba(0,0,0,.4);
}

/* =Main Menu
-----------------------------------------------*/

/* Level 1 */
.header-nav {
	background-position: 0 -5px;
	background-repeat: repeat-x;
	background-size: 20px 58px;
}

/* Level 2+ */
.tb-primary-menu ul.non-mega-sub-menu,
.tb-primary-menu .sf-mega {
	border-color: rgba(0,0,0,.1);
}
.tb-primary-menu ul a:hover {
	background-color: rgba(0,0,0,.1);
}

/* Menu Search */
.tb-primary-menu .menu-search {
	float: right;
}
.rtl .tb-primary-menu .menu-search {
	float: left;
}
.tb-primary-menu .menu-search .search-trigger {
	color: #ffffff;
	font-size: 14px;
	line-height: 1;
	padding: 18px 20px;
	width: auto;
	height: auto;
}
.tb-primary-menu .menu-search .search-trigger:hover {
	background: #222222;
}
.tb-primary-menu .menu-search .search-trigger .fa {
	width: 1em;
	text-align: center;
}
.tb-primary-menu .menu-search .fa {
	margin: 0;
}
.tb-primary-menu .menu-search .tb-search-popup .search-popup {
	right: 6px;
}
.rtl .tb-primary-menu .menu-search .tb-search-popup .search-popup {
	right: initial;
	left: 6px;
}

/* Centered Menu */
.js-center-menu .tb-primary-menu {
	font-size: 0; /* Eliminate white space between inline buttons */
	text-align: center;
}
.js-center-menu .tb-primary-menu > li,
.js-center-menu .tb-primary-menu .menu-search {
	display: inline-block;
	float: none;
}
.js-center-menu .tb-primary-menu li {
	text-align: left;
}
.rtl.js-center-menu .tb-primary-menu li {
	text-align: right;
}

/* =Boxed Layout
-----------------------------------------------*/

.js-boxed #container {
	background: #ffffff;
	margin-right: auto;
	margin-left: auto;
	max-width: 1170px;
}
.js-boxed.content_dark #container {
	background: #222222;
}
@media (max-width: 1199px) {
	.js-boxed #container {
		max-width: 960px;
	}
}
@media (max-width: 991px) {
	.js-boxed #container {
		max-width: 720px;
	}
}
@media (max-width: 767px) {
	.js-boxed #container {
		max-width: 480px;
	}
}
.js-boxed .tb-sticky-menu {
	margin-left: -585px;
	max-width: 1170px;
	left: 50%;
}
@media (max-width: 1199px) {
	.js-boxed .tb-sticky-menu {
		margin-left: -480px;
		max-width: 960px;
	}
}
.js-boxed .tb-sticky-menu > .wrap {
	padding: 0 15px;
}
.js-boxed .site-header > .wrap,
.js-boxed .tb-featured-banner > .wrap,
.js-boxed .site-inner > .wrap,
.js-boxed .element-section > .element.no-popout,
.js-boxed .site-footer > .wrap {
	margin-right: 0;
	margin-left: 0;
	max-width: none;
}
.js-boxed .header-top > .wrap,
.js-boxed .header-content > .wrap,
.js-boxed .header-nav {
	margin: 0 20px;
}
.js-boxed #main {
	padding: 30px;
}
.js-boxed .site-footer {
	padding: 30px;
}
.js-boxed .site-footer > .wrap {
	padding: 0;
}

/* Content Padding */
.js-boxed .blog-wrap > article,
.js-boxed article.single,
.js-boxed article.page,
.js-boxed .search-page,
.js-boxed .post_list.archive-loop,
.js-boxed .post_grid.archive-loop,
.js-boxed .post_showcase.archive-loop,
.js-boxed .list-template-wrap .list-wrap,
.js-boxed .grid-template-wrap .grid-wrap,
.js-boxed .showcase-template-wrap .showcase-wrap,
.js-boxed .tb-product-loop-wrap,
.js-boxed .tb-product-wrap {
	background-color: transparent;
	padding: 0 0 30px 0;
}

/* Info/Author Box and Comments */
.js-boxed #comments .comment-body,
.js-boxed #respond #commentform,
.js-boxed .bbp-topic-form,
.js-boxed .bbp-reply-form,
.js-boxed .comment #respond,
.js-boxed .tb-related-posts > .inner,
.js-boxed .tb-info-box {
	background: #fcfcfc;
	border: 1px solid #eeeeee;
}
.js-boxed.content_dark #comments .comment-body,
.js-boxed.content_dark #respond #commentform,
.js-boxed.content_dark .bbp-topic-form,
.js-boxed.content_dark .bbp-reply-form,
.js-boxed.content_dark .comment #respond,
.js-boxed.content_dark .tb-related-posts > .inner,
.js-boxed.content_dark .tb-info-box {
	background-color: #323232;
	border-color: #000000;
}
.comment #respond #commentform {
	background: transparent;
	border: none;
}

/* Blog */
.js-boxed .blog-wrap > article,
.js-boxed article.single {
	padding-top: 0;
	margin-bottom: 0;
}

/* Breadcrumbs */
.js-boxed .breadcrumb {
	padding: 0 5px;
}

/* WooCommerce */
.js-boxed .tb-product-wrap {
	padding-bottom: 0;
}
.js-boxed .woocommerce-tabs .tabs {
	background-color: #f5f5f5;
	border: 1px solid #dddddd;
}
.js-boxed .woocommerce-tabs .tabs > li {
	border-right: 1px solid #dddddd;
}
.js-boxed.rtl .woocommerce-tabs .tabs > li {
	border-right: none;
	border-right: 1px solid #dddddd;
}
.js-boxed.content_dark .woocommerce-tabs .tabs,
.js-boxed.content_dark .woocommerce-tabs .tabs > li {
	background-color: #151515;
	border-color: #000000;
}
.js-boxed .woocommerce-tabs .panel {
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 20px 5px;
}
